<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>Your Profile</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">Your Profile</h1>
      </div>
    </div>
  </div>
</section>
<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <aside class="g-brd-around g-brd-gray-light-v4 rounded g-px-20 g-py-30">
        <!-- Profile Picture -->
        <div class="text-center g-pos-rel g-mb-30">
          <div class="g-width-100 g-height-100 mx-auto mb-3">
            <img class="img-fluid rounded-circle" src="https://via.placeholder.com/100x100/img1.jpg" alt="Image Decor">
          </div>

          <span class="d-block g-font-weight-500">James Collins</span>

          <span class="u-icon-v3 u-icon-size--xs g-color-white--hover g-bg-primary--hover rounded-circle g-pos-abs g-top-0 g-right-15 g-cursor-pointer" title="Change Profile Picture"
                data-toggle="tooltip"
                data-placement="top">
                  <i class="icon-finance-067 u-line-icon-pro"></i>
                </span>
        </div>
        <!-- End Profile Picture -->

        <hr class="g-brd-gray-light-v4 g-my-30">

        <!-- Profile Settings List -->
        <ul class="list-unstyled mb-0">
          <li class="g-py-3">
            <a
              class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
              (click)="currentView = 'Security'" href="javascript:void(0)">
              <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-135 u-line-icon-pro"></i></span>
              Login &amp; Security
            </a>
          </li>
          <li class="g-py-3">
            <a
              class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
              (click)="currentView = 'Addresses'" href="javascript:void(0)">
              <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                class="icon-real-estate-027 u-line-icon-pro"></i></span>
              Addresses
            </a>
          </li>
          <li class="g-pb-3">
            <a
              class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover g-color-primary--parent-active g-bg-gray-light-v5--active rounded g-pa-3"
              (click)="currentView = 'Wallet'" href="javascript:void(0)">
              <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-059 u-line-icon-pro"></i></span>
              Your Wallet
            </a>
          </li>
          <li class="g-py-3">
            <a
              class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
              (click)="currentView = 'Wishlist'" href="javascript:void(0)">
              <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-medical-022 u-line-icon-pro"></i></span>
              Wishlist
            </a>
          </li>
          <li class="g-py-3">
            <a
              class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
              (click)="currentView = 'Payment'" href="javascript:void(0)">
              <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-110 u-line-icon-pro"></i></span>
              Payment Options
            </a>
          </li>
          <li class="g-pt-3">
            <a
              class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
              (click)="currentView = 'Notifications'" href="javascript:void(0)">
              <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                class="icon-education-033 u-line-icon-pro"></i></span>
              Notifications
            </a>
          </li>
        </ul>
        <!-- End Profile Settings List -->
      </aside>
    </div>
    <!-- End Profile Settings -->

    <div class="col-lg-9 g-mb-50">
      <app-profile-trader-security *ngIf="currentView == 'Security'"></app-profile-trader-security>
      <app-profile-trader-addresses *ngIf="currentView == 'Addresses'"></app-profile-trader-addresses>
      <app-profile-trader-notifications *ngIf="currentView == 'Notifications'"></app-profile-trader-notifications>
      <app-profile-trader-payment *ngIf="currentView == 'Payment'"></app-profile-trader-payment>
      <app-profile-trader-wallet *ngIf="currentView == 'Wallet'"></app-profile-trader-wallet>
      <app-profile-trader-wishlist *ngIf="currentView == 'Wishlist'"></app-profile-trader-wishlist>
    </div>
  </div>
</div>
