<jqxMenu #jqxMenu
         [width]="'100%'"
         [height]="'35px'">
  <ul>
    <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
    <li>
      Access Control
      <ul style='width: 250px;'>
        <li><a routerLink="user/user-list" routerLinkActive="active">Users</a></li>
      </ul>
    </li>
    <li>
      CMS
      <ul style='width: 250px;'>
        <li><a routerLink="cms/files/list" routerLinkActive="active">Files</a></li>
        <li><a routerLink="cms/transactions/list" routerLinkActive="active">Transactions</a></li>
        <li><a routerLink="cms/account-state/list" routerLinkActive="active">Account States</a></li>
        <li><a routerLink="cms/orders/list" routerLinkActive="active">Orders</a></li>
        <li><a routerLink="cms/help-category/categoryList" routerLinkActive="active">Help Category</a></li>
        <li><a routerLink="cms/help-topic/topicList" routerLinkActive="active">Help Topic</a></li>
        <li><a routerLink="cms/delayed-changes" routerLinkActive="active">Delayed Changes</a></li>
        <li><a routerLink="cms/artists" routerLinkActive="active">Artists</a></li>
        <li><a routerLink="cms/commissions" routerLinkActive="active">Commissions</a></li>
        <li><a routerLink="cms/exchange-orders" routerLinkActive="active">Exchange Orders</a></li>
      </ul>
    </li>
  </ul>
</jqxMenu>
