<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/profile/view">{{'PROFILE.TITLE' |
              translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>{{'PROFILE.WISHLIST.TITLE' |
              translate}}</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">{{'PROFILE.WISHLIST.TITLE' |
          translate}}</h1>
      </div>
    </div>
  </div>
</section>

<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <app-profile-navigation></app-profile-navigation>
    </div>
    <!-- End Profile Settings -->

    <div class="col-lg-9 g-mb-50">
      <!-- Products Block -->
      <app-artworks-list-view [artworkStockPage]="wishList"
                              (onPageChanged)="setPage($event)"
                              (onPageSizeChanged)="setPageSize($event)"
                              (onSortChanged)="setSort($event)"
                              (onWishListToggle)="toggleWishList()"></app-artworks-list-view>
      <!-- End Products Block -->
    </div>
  </div>
</div>
