<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/profile/view">{{'PROFILE.TITLE' |
              translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>{{'PROFILE.WISHLIST.TITLE' |
              translate}}</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">{{'PROFILE.WISHLIST.TITLE' |
          translate}}</h1>
      </div>
    </div>
  </div>
</section>

<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <app-profile-navigation></app-profile-navigation>
    </div>
    <!-- End Profile Settings -->

    <div class="col-lg-9 g-mb-50">
      <!-- Payment Options -->
      <!-- Products Block -->
      <div class="rounded g-brd-around g-brd-gray-light-v4 g-overflow-x-scroll g-overflow-x-visible--lg g-pa-30">
        <table class="text-center w-100">
          <thead class="h6 g-brd-bottom g-brd-gray-light-v4 g-color-black text-uppercase">
          <tr>
            <th class="g-font-weight-500 text-left g-pb-20">{{'PROFILE.WISHLIST.PRODUCT' |
              translate}}
            </th>
            <th class="g-font-weight-500 g-width-130 g-pb-20">{{'PROFILE.WISHLIST.PRICE' |
              translate}}
            </th>
            <th class="g-font-weight-500 g-width-50 g-pb-20">{{'PROFILE.WISHLIST.QUANTITY' |
              translate}}
            </th>
            <th class="g-font-weight-500 g-width-130 g-pb-20">{{'PROFILE.WISHLIST.TOTAL' |
              translate}}
            </th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <!-- Item-->
          <tr class="g-brd-bottom g-brd-gray-light-v4" *ngFor="let wish of wishList.data | paginate: { id: 'server',
                                                      itemsPerPage: wishList.size,
                                                      currentPage: wishList.currentPage,
                                                      totalItems: wishList.totalElements }">
            <td class="text-left g-py-25">
              <img class="d-inline-block g-width-100 mr-4" src="{{url}}{{wish.artworkStock.artwork.image.url}}"
                   alt="Image Description">
              <div class="d-inline-block align-middle">
                <h4 class="h6 g-color-black">{{wish.artworkStock.artwork.titleMl[translate.currentLang]}}</h4>
                <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-12 g-line-height-1_6 mb-0">
                  <li>Color: Black</li>
                  <li>Size: MD</li>
                </ul>
              </div>
            </td>
            <td class="g-color-gray-dark-v2 g-font-size-13">{{wish.artworkStock.artwork.estimatedPrice}}</td>
            <td>
              <div class="js-quantity input-group u-quantity-v1 g-width-80 g-brd-primary--focus">
                <input class="js-result form-control text-center g-font-size-13 rounded-0 g-pa-0" type="text" value="1"
                       readonly>

                <div
                  class="input-group-addon d-flex align-items-center g-width-30 g-bg-white g-font-size-12 rounded-0 g-px-5 g-py-6">
                  <i class="js-plus g-color-gray g-color-primary--hover fa fa-angle-up"></i>
                  <i class="js-minus g-color-gray g-color-primary--hover fa fa-angle-down"></i>
                </div>
              </div>
            </td>
            <td class="text-right g-color-black">
              <span
                class="g-color-gray-dark-v2 g-font-size-13 mr-4">{{wish.artworkStock.artwork.estimatedPrice}}</span>
              <span class="g-color-gray-dark-v4 g-color-black--hover g-cursor-pointer"
                    (click)="removeWish(wish.id)">
                        <i class="mt-auto fa fa-trash"></i>
                      </span>
            </td>
          </tr>
          </tbody>
        </table>
        <div>
          <!-- Pagination -->
          <nav class="g-mb-100" aria-label="Page Navigation">
            <ul class="list-inline mb-0" *ngIf="pager.pages && pager.pages.length">

              <li class="list-inline-item hidden-down" *ngFor="let page of pager.pages"
                  [ngClass]="{active:pager.currentPage === page}">
                <a
                  class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded-circle g-pa-5"
                  href="javascript:void(0);" (click)="setPage(page-1)">{{page}}</a>
              </li>
              <li class="list-inline-item" [ngClass]="{'disable': pager.currentPage === pager.totalPages-1 }">
                <a
                  class="u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5 g-ml-15"
                  href="javascript:void(0);" aria-label="Next" (click)="setPage(pager.currentPage + 1)">
                      <span aria-hidden="true">
                        <i class="fa fa-angle-right"></i>
                      </span>
                  <span class="sr-only">{{"PAGINATION.NEXT"|translate}}</span>
                </a>
              </li>
              <li class="list-inline-item float-right">
                <span class="u-pagination-v1__item-info g-color-gray-dark-v4 g-font-size-12 g-pa-5">{{"PAGINATION.PAGE"|translate}} {{pager.currentPage+1}} of {{pager.totalPages}}</span>
              </li>
            </ul>
          </nav>
          <!-- End Pagination -->
        </div>
      </div>
      <!-- End Products Block -->
    </div>
  </div>
</div>
