<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/profile/view">{{'PROFILE.TITLE' |
              translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>{{'PROFILE.EDIT_PROFILE' | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">{{'PROFILE.EDIT_PROFILE' | translate}}</h1>
      </div>
    </div>
  </div>
</section>

<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <app-profile-navigation></app-profile-navigation>
    </div>
    <!-- End Profile Settings -->

    <div class="col-lg-9 g-mb-50">

      <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

        <div class="row">
          <div class="col-12">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.UPLOAD_AVATAR' | translate}}</span>
            <jqxFileUpload
              [width]="'100%'" [uploadUrl]="url + 'files/uploadFile'" [fileInputName]="'file'"
              (onUploadEnd)="onUploadEnd($event)" [multipleFilesUpload]="false" [autoUpload]="false">
            </jqxFileUpload>
          </div>
        </div>
      </div>

      <form #f="ngForm" (ngSubmit)="update()" novalidate>

        <ng-container *ngIf="participant?.person as person">
          <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

            <div class="row">
              <div class="col-12">
                <h3 class="h5 mb-3">{{'PROFILE.SECURITY.LABEL.CAPTION_PERSON_INFO' | translate}}</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.FIRST_NAME' | translate}}</span>
                <mchInput name="firstName"
                          mchRequired
                          [(ngModel)]="person.firstName"
                          [placeHolder]="'PROFILE.SECURITY.PLACEHOLDER.FIRST_NAME' | translate"></mchInput>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.LAST_NAME' | translate}}</span>
                <mchInput name="lastName"
                          mchRequired
                          [(ngModel)]="person.lastName"
                          [placeHolder]="'PROFILE.SECURITY.PLACEHOLDER.LAST_NAME' | translate"></mchInput>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.EMAIL' | translate}}</span>
                <span class="d-block">{{user?.name}}</span>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row" *ngIf="genders">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.GENDER' | translate}}</span>
                <mchDropDownList name="gender"
                                 [objectSource]="genders"
                                 [displayFunc]="genderDisplayFunc"
                                 [ngModel]="person.gender"
                                 (ngModelChange)="person.gender=$event">
                </mchDropDownList>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.COUNTRY' | translate}}</span>
                <mchComboBox name="country"
                             [objectSource]="countries"
                             [displayFunc]="countryDisplayFunc"
                             [ngModel]="participant.country"
                             (ngModelChange)="participant.country=$event">
                </mchComboBox>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.MOBILE' | translate}}</span>
                <mchMaskedInput name="mobile"
                                mchRequired
                                mchMobile
                                [ngModel]="participant.phoneNumber"
                                (ngModelChange)="participant.phoneNumber=$event"
                                [mask]="'+# (###) ###-####'">
                </mchMaskedInput>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.DATE_OF_BIRTH' | translate}}</span>
                <div class="g-brd-primary--focus">
                  <mchDateTimeInput name="dateOfBirth"
                                    [ngModel]='person.dateOfBirth'
                                    (ngModelChange)="person.dateOfBirth=$event">
                  </mchDateTimeInput>
                </div>

              </div>
            </div>
            <!-- End Info -->
          </div>
        </ng-container>

        <ng-container *ngIf="participant?.organization as organization">
          <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

            <div class="row">
              <div class="col-12">
                <h3 class="h5 mb-3">{{"PROFILE.SECURITY.LABEL.CAPTION_ORGANIZATION_INFO" | translate}}</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <span class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.LEGAL_NAME_EN' | translate}}:</span>
                <mchInput name="legalNameEn"
                          mchRequired
                          [(ngModel)]="organization.legalNameMl['en']">
                </mchInput>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.LEGAL_NAME_RU' | translate}}:</span>
                <mchInput name="legalNameRu"
                          mchRequired
                          [(ngModel)]="organization.legalNameMl['ru']">
                </mchInput>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.PHONE_NUMBER' | translate}}:</span>
                <mchMaskedInput name="mobile"
                                [(ngModel)]="participant.phoneNumber"
                                mchRequired
                                mchMobile
                                [mask]="'+# (###) ###-####'">
                </mchMaskedInput>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="countries && participant.addresses[0] as address">

          <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

            <div class="row">
              <div class="col-12">
                <h3 class="h5 mb-3">{{"PROFILE.SECURITY.LABEL.CAPTION_ADDRESS" | translate}}</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.ADDRESS.COUNTRY' | translate}}</span>
                <mchComboBox name="addressCountry"
                             [objectSource]="countries"
                             [displayFunc]="countryDisplayFunc"
                             [(ngModel)]="address.country">
                </mchComboBox>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.ADDRESS.STATE' | translate}}</span>
                <mchInput name="addressState"
                          mchRequired
                          [(ngModel)]="address.state"
                          [placeHolder]="'PROFILE.SECURITY.PLACEHOLDER.ADDRESS.STATE' | translate"></mchInput>
              </div>

            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.ADDRESS.CITY' | translate}}</span>
                <mchInput name="addressCity"
                          mchRequired
                          [(ngModel)]="address.city"
                          [placeHolder]="'PROFILE.SECURITY.PLACEHOLDER.ADDRESS.CITY' | translate"></mchInput>
              </div>

            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.ADDRESS.ZIP' | translate}}</span>
                <mchInput name="addressPostalCode"
                          mchRequired
                          [(ngModel)]="address.postalCode"
                          [placeHolder]="'PROFILE.SECURITY.PLACEHOLDER.ADDRESS.ZIP' | translate"></mchInput>
              </div>

            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span
                  class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.ADDRESS.STREET' | translate}}</span>
                <mchInput name="addressStreet"
                          [(ngModel)]="address.street"
                          [placeHolder]="'PROFILE.SECURITY.PLACEHOLDER.ADDRESS.STREET' | translate"></mchInput>

              </div>

            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="isGallery">
          <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

            <div class="row">
              <div class="col-12">
                <h3 class="h5 mb-3">{{"PROFILE.SECURITY.LABEL.CAPTION_GALLERY_INFO" | translate}}</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <span class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.DESCRIPTION_EN' | translate}}:</span>
                <mchInput name="descriptionEn"
                          mchRequired
                          [(ngModel)]="participant.descriptionMl['en']">
                </mchInput>
              </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-my-20">

            <div class="row">
              <div class="col-12">
                <span class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.SECURITY.LABEL.DESCRIPTION_RU' | translate}}:</span>
                <mchInput name="descriptionRu" [(ngModel)]="participant.descriptionMl['ru']"></mchInput>
              </div>
            </div>
          </div>
        </ng-container>

      </form>

      <div class="row">
        <div class="col-3">
          <mchButton
            class="btn btn-block u-btn-primary h-100 g-font-size-12 text-uppercase g-py-12 g-px-25"
            [submitForm]="f"
          >{{'PROFILE.BUTTON.UPDATE' | translate}}
          </mchButton>
        </div>

        <div class="col-3">
          <mchButton
            class="btn btn-block u-btn-primary h-100 g-font-size-12 text-uppercase g-py-12 g-px-25"
            (onClick)="cancel()"
          >{{'PROFILE.BUTTON.CANCEL' | translate}}
          </mchButton>
        </div>

      </div>

    </div>
  </div>
</div>
