<!-- Form -->
<form #f="ngForm" class="g-py-15" (ngSubmit)="onSubmit()">

  <div class="g-mb-20">
    <mchInput name="email"
              class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15"
              mchRequired
              mchEmail
              [placeHolder]="'Email address'"
              [(ngModel)]="email">
    </mchInput>
  </div>

  <div class="g-mb-20">
    <mchDropDownList name="userType"
                     [objectSource]="userTypes"
                     [displayFunc]="userTypeDisplayFunc"
                     [(ngModel)]="userTypeSelected"
                     [selectedIndex]="1">
    </mchDropDownList>
  </div>

  <div class="mb-1">
    <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-2">
      <input
        class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
        type="checkbox"
        name="agreement"
        [(ngModel)]="agreementAccepted"
      >
      <span class="d-block u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                      <i class="fa" data-check-icon=""></i>
                    </span>
      {{'REGISTER.STEP_ONE.ACCEPT' | translate}} <a href="#modal1" data-modal-target="#modal1" data-modal-effect="fadein">
      {{'REGISTER.STEP_ONE.TERMS_AND_CONDITIONS' | translate}}</a>
    </label>
  </div>

  <div class="mb-3">
    <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-2">
      <input
        class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
        type="checkbox"
        name="subscribe"
        [(ngModel)]="subscribe"
      >
      <span class="d-block u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                      <i class="fa" data-check-icon=""></i>
                    </span>
      {{'REGISTER.STEP_ONE.SUBSCRIBE' | translate}}
    </label>
  </div>

  <mchButton class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25"
             [submitForm]="f"
             [disabled]="!agreementAccepted">{{'REGISTER.STEP_ONE.SIGNUP' | translate}}
  </mchButton>
</form>
<!-- End Form -->

<!-- Demo modal window -->
<div id="modal1" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;">
  <button type="button" class="close" onclick="Custombox.modal.close();">
    <i class="hs-icon hs-icon-close"></i>
  </button>
  <div [innerHTML]="termsAndConditions"></div>
</div>
<!-- End Demo modal window -->
