<main class="g-pt-70 g-pt-70--md g-pt-70--lg">  <!-- Header -->
  <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance"
          data-header-fix-moment="200"
          data-header-fix-effect="slide">
    <!--<div-->
      <!--class="text-center text-lg-left u-header__section u-header__section&#45;&#45;hidden u-header__section&#45;&#45;light g-bg-white g-brd-bottom g-brd-gray-light-v4 g-py-20">-->
      <!--<div class="container">-->
        <!--<div class="row flex-lg-row align-items-center justify-content-lg-start">-->
          <!--<div class="col-6 col-sm-3 col-lg-2">-->
            <!--&lt;!&ndash; Logo &ndash;&gt;-->
            <!--<a href="#!" class="js-go-to navbar-brand"-->
               <!--data-type="static">-->
              <!--<img src="assets/malevich/img/logo.png" alt="Logo">-->
            <!--</a>-->
            <!--&lt;!&ndash; End Logo &ndash;&gt;-->
          <!--</div>-->

          <!--<div class="col-6 col-sm-9 col-lg-10">-->
            <!--<div class="row">-->
              <!--&lt;!&ndash;<div class="col-sm g-brd-right&#45;&#45;sm g-brd-gray-light-v4">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="g-pa-10&#45;&#45;lg">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span&ndash;&gt;-->
                    <!--&lt;!&ndash;class="icon icon-screen-smartphone g-valign-middle g-font-size-18 g-color-primary g-mr-5"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="text-uppercase g-font-size-13">Call Us</span>&ndash;&gt;-->
                  <!--&lt;!&ndash;<strong class="d-block g-pl-25">+469 548 521</strong>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--&lt;!&ndash;<div class="col-sm g-hidden-lg-down g-brd-right&#45;&#45;sm g-brd-gray-light-v4">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="g-pa-10&#45;&#45;lg">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="icon icon-clock g-valign-middle g-font-size-18 g-color-primary g-mr-5"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="text-uppercase g-font-size-13">Opening time</span>&ndash;&gt;-->
                  <!--&lt;!&ndash;<strong class="d-block g-pl-25">Mon-Sat: 08.00 - 18.00</strong>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->

              <!--<div class="col-sm g-hidden-sm-down g-brd-right&#45;&#45;sm g-brd-gray-light-v4">-->
                <!--<div class="g-pa-10&#45;&#45;lg">-->
                  <!--<span class="icon icon-envelope g-valign-middle g-font-size-18 g-color-primary g-mr-5"></span>-->
                  <!--<span class="text-uppercase g-font-size-13">Email us</span>-->
                  <!--<strong class="d-block g-pl-25">market@info.com</strong>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="col-sm g-hidden-sm-down">-->
                <!--<ul class="list-inline mb-0 g-pa-10&#45;&#45;lg">-->
                  <!--<li class="list-inline-item g-valign-middle g-mx-3">-->
                    <!--<a-->
                      <!--class="d-block u-icon-v3 u-icon-size&#45;&#45;sm g-rounded-50x g-bg-gray-light-v4 g-color-gray-light-v1 g-bg-primary&#45;&#45;hover g-color-white&#45;&#45;hover"-->
                      <!--href="#!"><i class="fa fa-facebook g-font-size-default"></i></a>-->
                  <!--</li>-->
                  <!--<li class="list-inline-item g-valign-middle g-mx-3">-->
                    <!--<a-->
                      <!--class="d-block u-icon-v3 u-icon-size&#45;&#45;sm g-rounded-50x g-bg-gray-light-v4 g-color-gray-light-v1 g-bg-primary&#45;&#45;hover g-color-white&#45;&#45;hover"-->
                      <!--href="#!"><i class="fa fa-twitter g-font-size-default"></i></a>-->
                  <!--</li>-->
                  <!--<li class="list-inline-item g-valign-middle g-mx-3">-->
                    <!--<a-->
                      <!--class="d-block u-icon-v3 u-icon-size&#45;&#45;sm g-rounded-50x g-bg-gray-light-v4 g-color-gray-light-v1 g-bg-primary&#45;&#45;hover g-color-white&#45;&#45;hover"-->
                      <!--href="#!"><i class="fa fa-instagram g-font-size-default"></i></a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="u-header__section u-header__section--dark g-bg-primary g-py-15"
         style="height: 50px"
         data-header-fix-moment-classes="u-shadow-v18">
      <!--<nav class="navbar navbar-expand-lg py-0">-->
        <!--<div class="container">-->
          <!--&lt;!&ndash; Navigation &ndash;&gt;-->
          <!--<div class="collapse navbar-collapse align-items-center flex-sm-row g-mr-40&#45;&#45;sm" id="navBar"-->
               <!--data-mobile-scroll-hide="true">-->
            <!--<ul id="js-scroll-nav"-->
                <!--class="navbar-nav text-uppercase g-font-weight-700 g-font-size-13 g-py-10&#45;&#45;md mr-auto">-->
              <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="assets/malevich/img/logo.png" alt="Logo">&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="nav-item g-mr-15&#45;&#45;lg g-mb-7 g-mb-0&#45;&#45;lg active">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#home" class="nav-link g-color-primary&#45;&#45;hover p-0">Home&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="sr-only">(current)</span></a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="nav-item g-mx-15&#45;&#45;lg g-mb-7 g-mb-0&#45;&#45;lg">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="#videoRegion" class="nav-link g-color-primary&#45;&#45;hover p-0">Flats for rent</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Navigation &ndash;&gt;-->

          <!--&lt;!&ndash; Responsive Toggle Button &ndash;&gt;-->
          <!--<button-->
            <!--class="navbar-toggler btn g-pos-rel g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-8 g-right-0"-->
            <!--type="button"-->
            <!--aria-label="Toggle navigation"-->
            <!--aria-expanded="false"-->
            <!--aria-controls="navBar"-->
            <!--data-toggle="collapse"-->
            <!--data-target="#navBar">-->
                <!--<span class="hamburger hamburger&#45;&#45;slider">-->
                  <!--<span class="hamburger-box">-->
                    <!--<span class="hamburger-inner"></span>-->
                  <!--</span>-->
                <!--</span>-->
          <!--</button>-->
          <!--&lt;!&ndash; End Responsive Toggle Button &ndash;&gt;-->
        <!--</div>-->
      <!--</nav>-->
    </div>
  </header>
  <!-- End Header -->

  <!-- Section Content -->
  <section id="home">
    <div class="g-pos-rel g-pt-50">
      <div class="g-pos-rel g-z-index-1">
        <!-- Heading -->
        <div class="g-max-width-645 text-center mx-auto g-mb-70">
          <!--<h2 class="g-font-size-50 mb-3">Coming Soon</h2>-->
          <img src="assets/malevich/img/malevich.svg" style="width: 70%" alt="Logo">
          <!--<p class="g-font-size-17">We are glad to see you, but please be patient. This page is under construction.</p>-->
        </div>
        <!-- End Heading -->

        <!--<div class="container">-->
          <!--&lt;!&ndash; Countdown &ndash;&gt;-->
          <!--<div class="js-countdown u-countdown-v1 text-center g-mb-70" data-end-date="2019/02/02" data-month-format="%m"-->
               <!--data-days-format="%d" data-hours-format="%H" data-minutes-format="%M" data-seconds-format="%S">-->
            <!--<div class="d-inline-block u-shadow-v19 g-brd-around g-brd-gray-light-v3 rounded g-pa-20 g-mx-15 g-mb-30">-->
              <!--<div class="js-cd-month g-color-primary g-font-weight-700 g-font-size-40 g-line-height-1_4">1</div>-->
              <!--<hr class="g-brd-gray-light-v3 my-2 mb-3">-->
              <!--<h3 class="h6 g-color-text g-font-weight-400 mb-0">Month</h3>-->
            <!--</div>-->

            <!--<div class="d-inline-block u-shadow-v19 g-brd-around g-brd-gray-light-v3 rounded g-pa-20 g-mx-15 g-mb-30">-->
              <!--<div class="js-cd-days g-color-primary g-font-weight-700 g-font-size-40 g-line-height-1_4">05</div>-->
              <!--<hr class="g-brd-gray-light-v3 my-2 mb-3">-->
              <!--<h3 class="h6 g-color-text g-font-weight-400 mb-0">Days</h3>-->
            <!--</div>-->

            <!--<div class="d-inline-block u-shadow-v19 g-brd-around g-brd-gray-light-v3 rounded g-pa-20 g-mx-15 g-mb-30">-->
              <!--<div class="js-cd-hours g-color-primary g-font-weight-700 g-font-size-40 g-line-height-1_4">10</div>-->
              <!--<hr class="g-brd-gray-light-v3 my-2 mb-3">-->
              <!--<h3 class="h6 g-color-text g-font-weight-400 mb-0">Hours</h3>-->
            <!--</div>-->

            <!--<div class="d-inline-block u-shadow-v19 g-brd-around g-brd-gray-light-v3 rounded g-pa-20 g-mx-15 g-mb-30">-->
              <!--<div class="js-cd-minutes g-color-primary g-font-weight-700 g-font-size-40 g-line-height-1_4">52</div>-->
              <!--<hr class="g-brd-gray-light-v3 my-2 mb-3">-->
              <!--<h3 class="h6 g-color-text g-font-weight-400 mb-0">Minutes</h3>-->
            <!--</div>-->

            <!--<div class="d-inline-block u-shadow-v19 g-brd-around g-brd-gray-light-v3 rounded g-pa-20 g-mx-15 g-mb-30">-->
              <!--<div class="js-cd-seconds g-color-primary g-font-weight-700 g-font-size-40 g-line-height-1_4">28</div>-->
              <!--<hr class="g-brd-gray-light-v3 my-2 mb-3">-->
              <!--<h3 class="h6 g-color-text g-font-weight-400 mb-0">Seconds</h3>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End Countdown &ndash;&gt;-->
        <!--</div>-->
      </div>
    </div>

  </section>
  <!-- End Section Content -->

  <!-- Section Content -->
  <section id="videoRegion" class="g-py-40">
    <div class="container text-center g-max-width-770 g-mb-60">
      <!-- HTML5 Example -->
      <div class="embed-responsive embed-responsive-16by9 g-mb-60">
        <video style="width: 100%" preload="metadata" controls="controls" controlsList="nodownload">
          <source src="https://s3.eu-west-2.amazonaws.com/malevichlanding/Malevich+Fin+snd+31Jan_YT.mp4" type="video/mp4;">
        </video>
      </div>
      <!-- End HTML5 Example -->
    </div>
  </section>
  <!-- End Section Content -->


  <!-- Footer -->
  <!--<footer class="text-center g-color-gray-dark-v5 g-bg-secondary" style="width: 100%; position: fixed; bottom: 0">-->
    <!--<div class="g-pt-70 g-pb-40">-->
      <!--<div class="container">-->
        <!--&lt;!&ndash;<a class="d-block g-width-200 g-opacity-0_3 g-mb-30 mx-auto" href="/">&ndash;&gt;-->
          <!--&lt;!&ndash;<img class="img-fluid" src="assets/malevich/img/logo-foot.png" alt="Logo">&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->

        <!--&lt;!&ndash;<ul class="list-inline g-mb-20">&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="list-inline-item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a&ndash;&gt;-->
              <!--&lt;!&ndash;class="u-icon-v2 u-icon-size&#45;&#45;xs g-width-35 g-height-35 g-font-size-16 g-color-gray-dark-v5 g-color-white&#45;&#45;hover g-bg-primary&#45;&#45;hover g-brd-gray-dark-v5 g-brd-primary&#45;&#45;hover g-rounded-50x g-mx-5"&ndash;&gt;-->
              <!--&lt;!&ndash;href="#!"><i class="fa fa-twitter"></i></a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="list-inline-item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a&ndash;&gt;-->
              <!--&lt;!&ndash;class="u-icon-v2 u-icon-size&#45;&#45;xs g-width-35 g-height-35 g-font-size-16 g-color-gray-dark-v5 g-color-white&#45;&#45;hover g-bg-primary&#45;&#45;hover g-brd-gray-dark-v5 g-brd-primary&#45;&#45;hover g-rounded-50x g-mx-5"&ndash;&gt;-->
              <!--&lt;!&ndash;href="#!"><i class="fa fa-pinterest-p"></i></a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="list-inline-item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a&ndash;&gt;-->
              <!--&lt;!&ndash;class="u-icon-v2 u-icon-size&#45;&#45;xs g-width-35 g-height-35 g-font-size-16 g-color-gray-dark-v5 g-color-white&#45;&#45;hover g-bg-primary&#45;&#45;hover g-brd-gray-dark-v5 g-brd-primary&#45;&#45;hover g-rounded-50x g-mx-5"&ndash;&gt;-->
              <!--&lt;!&ndash;href="#!"><i class="fa fa-facebook"></i></a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="list-inline-item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a&ndash;&gt;-->
              <!--&lt;!&ndash;class="u-icon-v2 u-icon-size&#45;&#45;xs g-width-35 g-height-35 g-font-size-16 g-color-gray-dark-v5 g-color-white&#45;&#45;hover g-bg-primary&#45;&#45;hover g-brd-gray-dark-v5 g-brd-primary&#45;&#45;hover g-rounded-50x g-mx-5"&ndash;&gt;-->
              <!--&lt;!&ndash;href="#!"><i class="fa fa-linkedin"></i></a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="row justify-content-center">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="col-md-8">&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="mb-0">Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget&ndash;&gt;-->
              <!--&lt;!&ndash;nisi facilisis lobortis. Praesent malesuada facilisis maximus. Donec sed lobortis tortor.</p>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;<div class="g-brd-top g-brd-gray-dark-v2 g-py-30">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="col-sm-6 col-lg-3 g-mb-25 g-mb-0&#45;&#45;lg">&ndash;&gt;-->
            <!--&lt;!&ndash;<h2 class="text-uppercase g-font-weight-700 g-font-size-14 g-color-white g-mb-15">Categories</h2>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="list-unstyled g-mb-30">&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Proin vitae est lorem</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Aenean imperdiet nisi</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Praesent pulvinar gravida</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Integer commodo est</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;<div class="col-sm-6 col-lg-3 g-mb-25 g-mb-0&#45;&#45;lg">&ndash;&gt;-->
            <!--&lt;!&ndash;<h2 class="text-uppercase g-font-weight-700 g-font-size-14 g-color-white g-mb-15">Customer Support</h2>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="list-unstyled g-mb-30">&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Vivamus egestas sapien</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Sed convallis nec enim</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Pellentesque a tristique risus</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Nunc vitae libero lacus</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;<div class="col-sm-6 col-lg-3">&ndash;&gt;-->
            <!--&lt;!&ndash;<h2 class="text-uppercase g-font-weight-700 g-font-size-14 g-color-white g-mb-15">Top Link</h2>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="list-unstyled g-mb-30">&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Pellentesque a tristique risus</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Nunc vitae libero lacus</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Praesent pulvinar gravida</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Integer commodo est</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;<div class="col-sm-6 col-lg-3">&ndash;&gt;-->
            <!--&lt;!&ndash;<h2 class="text-uppercase g-font-weight-700 g-font-size-14 g-color-white g-mb-15">Useful Links</h2>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="list-unstyled g-mb-30">&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Praesent pulvinar gravida</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Integer commodo est</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Praesent pulvinar gravida</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="g-mb-10">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="g-color-gray-dark-v5" href="#!">Integer commodo est</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="g-brd-top g-brd-gray-dark-v2 g-py-30">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="mb-0">&ndash;&gt;-->
          <!--&lt;!&ndash;2018 All right reserved. Unify Development by&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="g-font-weight-600 g-color-white" href="#!">HTML Stream</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</footer>-->
  <!-- End Footer -->

  <a class="js-go-to u-go-to-v1" href="#!"
     data-type="fixed"
     data-position='{
           "bottom": 15,
           "right": 15
         }'
     data-offset-top="400"
     data-compensation="#js-header"
     data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>
</main>
