<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>{{'TRADER_PROFILE.TITLE' |
              translate}}</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">{{'TRADER_PROFILE.TITLE' |
          translate}}</h1>
      </div>
    </div>
  </div>
</section>


<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <app-profile-navigation></app-profile-navigation>
    </div>
    <!-- End Profile Settings -->

    <div class="col-lg-9 g-mb-50">

      <ng-container *ngIf="participant?.person as person">

        <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
          <div class="row">
            <div class="col-4 offset-8 text-right">
              <a
                class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7"
                routerLink="/profile/edit">{{'TRADER_PROFILE.SECURITY.BUTTON.EDIT_PROFILE' | translate}}</a>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.FIRST_NAME' | translate}}</span>
              <span class="d-block">{{person.firstName}}</span>
            </div>

          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <div class="col-8">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.LAST_NAME' | translate}}</span>
              <span class="d-block">{{person.lastName}}</span>
            </div>

          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <div class="col-8">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.EMAIL' | translate}}</span>
              <span class="d-block">{{participant?.users[0].name}}</span>
            </div>
          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <div class="col-8">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.GENDER' | translate}}</span>
              <span class="d-block">{{person.gender?.nameMl[translate.currentLang]}}</span>
            </div>
          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <div class="col-8">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.COUNTRY' | translate}}</span>
              <span class="d-block">{{participant?.country?.nameMl[translate.currentLang]}}</span>
            </div>
          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <div class="col-8">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.MOBILE' | translate}}</span>
              <span class="d-block">{{participant?.phoneNumber}}</span>
            </div>

          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <ng-container *ngIf="!changePassword">
              <div class="col-8">
              <span
                class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.PASSWORD' | translate}}</span>
                <span class="d-block">*******</span>
              </div>

              <div class="col-4 text-right">
                <mchButton
                  class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7"
                  (onClick)="switchChangePassword()">
                  {{'TRADER_PROFILE.SECURITY.BUTTON.CHANGE_PASSWORD' | translate}}
                </mchButton>
              </div>
            </ng-container>

            <ng-container *ngIf="changePassword">
              <div class="col-12">
                <form #passwordForm="ngForm" (ngSubmit)="onChangePassword()">
                  <mchInput name="oldPassword"
                            mchRequired
                            [(ngModel)]="oldPassword"
                            [type]="'password'"
                            [placeHolder]="'TRADER_PROFILE.SECURITY.PLACEHOLDER.OLD_PASSWORD' | translate"></mchInput>

                  <mchInput name="newPassword"
                            class="g-my-10"
                            mchRequired
                            mchPassword
                            [(ngModel)]="newPassword"
                            [type]="'password'"
                            [placeHolder]="'TRADER_PROFILE.SECURITY.PLACEHOLDER.NEW_PASSWORD' | translate"></mchInput>

                  <mchInput name="confirmNewPassword"
                            mchMatchTo="newPassword"
                            [ngModel]
                            [type]="'password'"
                            [placeHolder]="'TRADER_PROFILE.SECURITY.PLACEHOLDER.CONFIRM_NEW_PASSWORD' | translate"></mchInput>

                  <div class="row g-mt-10 justify-content-md-center">
                    <div class="col text-center">
                      <mchButton
                        class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7 g-mx-10"
                        [submitForm]="passwordForm"
                      >{{'TRADER_PROFILE.SECURITY.BUTTON.UPDATE' | translate}}
                      </mchButton>

                      <mchButton
                        class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7 g-mx-10"
                        (onClick)="switchChangePassword()"
                      >{{'TRADER_PROFILE.SECURITY.BUTTON.CANCEL' | translate}}
                      </mchButton>
                    </div>

                  </div>

                </form>
              </div>
            </ng-container>
          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <div class="col-8">
              <span class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.DATE_OF_BIRTH' | translate}}</span>
              <span class="d-block">{{person?.dateOfBirth}}</span>
            </div>
          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <!-- Address -->
          <div class="row" *ngIf="participant?.addresses[0] as address">
            <div class="col-12">
              <span class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.ADDRESS.STREET' | translate}}</span>
              <span class="d-block">
                {{address.street}}
                <br>
                {{address.state}} {{address.postalCode}}
                <br>
                {{address.city}}
                <br>
                {{address.country?.nameMl[translate.currentLang]}}
              </span>
            </div>
          </div>
          <!-- End Address -->

        </div>
        <!-- End Info -->

        <!-- End Login & Security -->
      </ng-container>

      <ng-container *ngIf="participant?.organization as organization">

        <!-- Info -->
        <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

          <div class="row">
            <ng-container *ngIf="!changePassword">
              <div class="col-12 g-mb-20 text-right">
                <mchButton
                  class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7"
                  (onClick)="edit()">
                  {{'TRADER_PROFILE.SECURITY.BUTTON.EDIT_PROFILE' | translate}}
                </mchButton>

                <mchButton
                  class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7 g-ml-10"
                  (onClick)="switchChangePassword()">
                  {{'TRADER_PROFILE.SECURITY.BUTTON.CHANGE_PASSWORD' | translate}}
                </mchButton>
              </div>
            </ng-container>

            <ng-container *ngIf="changePassword">
              <div class="col-12">
                <form #passwordForm="ngForm" (ngSubmit)="onChangePassword()">
                  <mchInput name="oldPassword"
                            mchRequired
                            [(ngModel)]="oldPassword"
                            [type]="'password'"
                            [placeHolder]="'TRADER_PROFILE.SECURITY.PLACEHOLDER.OLD_PASSWORD' | translate"></mchInput>

                  <mchInput name="newPassword"
                            class="g-my-10"
                            mchRequired
                            mchPassword
                            [(ngModel)]="newPassword"
                            [type]="'password'"
                            [placeHolder]="'TRADER_PROFILE.SECURITY.PLACEHOLDER.NEW_PASSWORD' | translate"></mchInput>

                  <mchInput name="confirmNewPassword"
                            mchMatchTo="newPassword"
                            [ngModel]
                            [type]="'password'"
                            [placeHolder]="'TRADER_PROFILE.SECURITY.PLACEHOLDER.CONFIRM_NEW_PASSWORD' | translate"></mchInput>

                  <div class="row g-mt-10 justify-content-md-center">
                    <div class="col text-center">
                      <mchButton
                        class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7 g-mx-10"
                        [submitForm]="passwordForm"
                      >{{'TRADER_PROFILE.SECURITY.BUTTON.UPDATE' | translate}}
                      </mchButton>

                      <mchButton
                        class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7 g-mx-10"
                        (onClick)="switchChangePassword()"
                      >{{'TRADER_PROFILE.SECURITY.BUTTON.CANCEL' | translate}}
                      </mchButton>
                    </div>

                  </div>

                </form>
              </div>
            </ng-container>
          </div>

          <div class="row">
            <div class="col-12">
              <span class="d-block g-color-text g-font-size-13 mb-1">{{'GALLERY_PROFILE.SECURITY.LEGAL_NAME' | translate}}:</span>
              <span class="d-block">{{organization.legalNameMl[translate.currentLang]}}</span>
            </div>
          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <div class="col-12">
              <span class="d-block g-color-text g-font-size-13 mb-1">{{'GALLERY_PROFILE.SECURITY.PHONE_NUMBER' | translate}}:</span>
              <span class="d-block">{{organization.phoneNumber}}</span>
            </div>
          </div>

          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <div class="col-12">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'GALLERY_PROFILE.SECURITY.LOCATION' | translate}}:</span>
              <span class="d-block">{{participant.addresses[0].street}} {{participant.addresses[0].state}} {{participant.addresses[0].postalCode}} {{participant.addresses[0].city}} {{organization.addresses[0].country?.nameMl[translate.currentLang]}}</span>
            </div>
          </div>

        </div>
        <!-- End Info -->

      </ng-container>

      <ng-container *ngIf="isGallery">
        <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

          <div class="row">
            <div class="col-12">
              <span class="d-block g-color-text g-font-size-13 mb-1">{{'GALLERY_PROFILE.SECURITY.DESCRIPTION' | translate}}:</span>
              <span class="d-block">{{participant.descriptionMl[translate.currentLang]}}</span>
            </div>
          </div>

        </div>
      </ng-container>
    </div>
  </div>
</div>


