<aside class="g-brd-around g-brd-gray-light-v4 rounded g-px-20 g-py-30">
  <!-- Profile Picture -->
  <div class="text-center g-pos-rel g-mb-30">
    <div class="g-width-100 g-height-100 mx-auto mb-3">
      <a routerLink="/profile/trader/view">
        <img class="img-fluid rounded-circle" src="https://via.placeholder.com/100x100/img1.jpg"
             alt="Image Decor">
      </a>
    </div>

    <a class="d-block g-font-weight-500" routerLink="/profile/trader/view">{{trader?.person.firstName}}
      {{trader?.person.lastName}}
    </a>

    <span
      class="u-icon-v3 u-icon-size--xs g-color-white--hover g-bg-primary--hover rounded-circle g-pos-abs g-top-0 g-right-15 g-cursor-pointer"
      title="Change Profile Picture"
      data-toggle="tooltip"
      data-placement="top">
      <i class="icon-finance-067 u-line-icon-pro"></i>
    </span>
  </div>
  <!-- End Profile Picture -->

  <hr class="g-brd-gray-light-v4 g-my-30">

  <!-- Profile Settings List -->
  <ul class="list-unstyled mb-0">
    <li class="g-pb-3">
      <a
        class="d-block align-middle u-link-v5 g-color-text g-bg-gray-light-v5--hover g-color-primary--active g-bg-gray-light-v5--active rounded g-pa-3"
        routerLink="/profile/trader/wallet" href="javascript:void(0)"
        routerLinkActive="active">
        <span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
          <i class="icon-finance-059 u-line-icon-pro"></i>
        </span>
        Your Wallet
      </a>
    </li>
    <li class="g-py-3">
      <a
        class="d-block align-middle u-link-v5 g-color-text g-bg-gray-light-v5--hover g-color-primary--active g-bg-gray-light-v5--active rounded g-pa-3"
        routerLink="/profile/trader/wishlist"
        href="javascript:void(0)"
        routerLinkActive="active">
        <span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
          <i class="icon-medical-022 u-line-icon-pro"></i>
        </span>
        Wishlist
      </a>
    </li>
    <li class="g-py-3">
      <a
        class="d-block align-middle u-link-v5 g-color-text g-bg-gray-light-v5--hover g-color-primary--active g-bg-gray-light-v5--active rounded g-pa-3"
        routerLink="/profile/trader/payment"
        href="javascript:void(0)"
        routerLinkActive="active">
        <span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
          <i class="icon-finance-110 u-line-icon-pro"></i>
        </span>
        Payment Options
      </a>
    </li>
    <li class="g-pt-3">
      <a
        class="d-block align-middle u-link-v5 g-color-text g-bg-gray-light-v5--hover g-color-primary--active g-bg-gray-light-v5--active rounded g-pa-3"
        routerLink="/profile/trader/notifications"
        href="javascript:void(0)"
        routerLinkActive="active">
        <span class="u-icon-v1 g-color-gray-dark-v5 mr-2">
          <i
            class="icon-education-033 u-line-icon-pro"></i>
        </span>
        Notifications
      </a>
    </li>
  </ul>
  <!-- End Profile Settings List -->
</aside>
