<jqxGrid #myGrid
         [width]="'100%'" [height]="'100%'" [pageable]="true" [sortable]="true" [columnsresize]="true"
         [pagermode]="'simple'" [columns]="columns">
  <tr>
    <th>Countreparty</th>
    <th>Artwork</th>
    <th>Amount</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let accountState of accountStates">
    <td *ngIf="accountState?.participant.gallery">
      {{accountState?.participant.gallery?.organization.legalNameMl[translate.currentLang]}}
    </td>
    <td *ngIf="accountState?.participant.trader">
      {{accountState?.participant.trader?.person.fullName}}
    </td>
    <td *ngIf="accountState?.participant.id === 1">
      Malevich
    </td>
    <td *ngIf="accountState?.artworkStock?.artwork">
      {{accountState?.artworkStock?.artwork.titleMl[translate.currentLang]}}
    </td>
    <td *ngIf="accountState?.artworkStock?.id == null">
      None
    </td>
    <td>
      {{accountState?.amount}}
    </td>
    <td>
      {{accountState?.quantity}}
    </td>
  </tr>
</jqxGrid>
