<div class="g-pos-rel g-py-100">
  <div class="g-pos-rel g-z-index-1">

    <div class="container">
      <!-- Section Content -->
      <section id="home">
        <div class="g-pos-rel g-pt-50">
          <div class="g-pos-rel g-z-index-1">
            <!-- Heading -->
            <div class="g-max-width-645 text-center mx-auto g-mb-70">
              <!--<h2 class="g-font-size-50 mb-3">Coming Soon</h2>-->
              <img src="assets/malevich/img/malevich.svg" style="width: 70%" alt="Logo">
              <!--<p class="g-font-size-17">We are glad to see you, but please be patient. This page is under construction.</p>-->
            </div>
            <!-- End Heading -->
          </div>
        </div>

      </section>
      <!-- End Section Content -->

      <!-- Section Content -->
      <section id="videoRegion" class="g-py-40">
        <div class="container text-center g-max-width-770 g-mb-60">
          <!-- HTML5 Example -->
          <div class="embed-responsive embed-responsive-16by9 g-mb-60">
            <video style="width: 100%" preload="metadata" controls="controls" controlsList="nodownload">
              <source src="https://s3.eu-west-2.amazonaws.com/malevichlanding/Malevich+Fin+snd+31Jan_YT.mp4" type="video/mp4;">
              <!--<source src="https://s3.eu-west-2.amazonaws.com/malevichlanding/Malevich+Fin+snd+CHN+12Mar.mp4" type="video/mp4;">-->
            </video>
          </div>
          <!-- End HTML5 Example -->
        </div>
      </section>
      <!-- End Section Content -->
    </div>
  </div>
</div>
