<header id="js-header" class="u-header u-header--static">
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-1"
       style="background-color: #e44235 !important; height: 74px !important; ">
    <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
      <div class="container-fluid">
        <!-- Responsive Toggle Button -->
        <button
          class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
          type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
          data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Logo -->
        <a class="navbar-brand" routerLink="/main-page" routerLinkActive="active" style="margin-top: -5px !important;">
          <img src="assets/malevich/img/logo.png" alt="Image Description">
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--sm" id="navBar"
             style="background-color: #e44235 !important;">
          <ul class="navbar-nav text-uppercase g-font-weight-600 mr-auto">
            <!-- Home - Submenu -->
            <li class="nav-item g-mx-10--lg g-mx-15--xl">
              <a class="nav-link g-color-white text-uppercase g-color-primary--hover g-pl-5 g-pr-0 g-py-20"
                 routerLink="/main-page">Art-Hunter</a>
            </li>
            <!-- End Home - Submenu -->

            <!-- Home - Submenu -->
            <li class="nav-item g-mx-10--lg g-mx-15--xl">
              <a class="nav-link g-color-white text-uppercase g-color-primary--hover g-pl-5 g-pr-0 g-py-20"
                 routerLink="/main-page">Galleries</a>
            </li>
            <!-- End Home - Submenu -->

            <!-- Home - Submenu -->
            <li class="nav-item g-mx-10--lg g-mx-15--xl">
              <a class="nav-link g-color-white text-uppercase g-color-primary--hover g-pl-5 g-pr-0 g-py-20"
                 routerLink="/main-page">Artists</a>
            </li>
            <!-- End Home - Submenu -->

            <!-- Home - Submenu -->
            <li class="nav-item g-mx-10--lg g-mx-15--xl">
              <a class="nav-link g-color-white text-uppercase g-color-primary--hover g-pl-5 g-pr-0 g-py-20"
                 routerLink="/main-page">About</a>
            </li>
            <!-- End Home - Submenu -->
          </ul>

        <ul class="navbar-nav text-uppercase g-font-weight-600 mr-auto g-left-200">
          <!-- List -->
          <li class="list-inline-item">
            <a id="account-dropdown-invoker-2"
               class="g-color-white g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#!"
               aria-controls="account-dropdown-2" aria-haspopup="true" aria-expanded="false"
               data-dropdown-event="hover" data-dropdown-target="#account-dropdown-2"
               data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="true"
               data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
              Account
            </a>
            <ul id="account-dropdown-2"
                class="list-unstyled u-shadow-v29 g-pos-abs g-bg-white g-width-160 g-pb-5 g-mt-19 g-z-index-2 u-dropdown--css-animation u-dropdown--hidden"
                aria-labelledby="account-dropdown-invoker-2" style="animation-duration: 300ms;">
              <li>
                <a
                  class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                  href="page-login-1.html">
                  Login
                </a>
              </li>
              <li>
                <a
                  class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                  href="page-signup-1.html">
                  Signup
                </a>
              </li>
              <li>
                <a
                  class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                  href="page-wishlist-1.html">
                  Wishlist
                </a>
              </li>
              <li>
                <a
                  class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                  href="page-orders-1.html">
                  Your Orders
                </a>
              </li>
            </ul>
          </li>
          <!-- End List -->
          <!-- List -->
          <li class="list-inline-item">
            <a id="languages-dropdown-invoker-2"
               class="g-color-white g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#!"
               aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false"
               data-dropdown-event="hover" data-dropdown-target="#languages-dropdown-2"
               data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="true"
               data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
              <svg xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                <defs>
                  <clipPath id="a">
                    <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z"></path>
                  </clipPath>
                </defs>
                <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                  <g stroke-width="1pt">
                    <path fill="#006" d="M-256 0H768.02v512.01H-256z"></path>
                    <path
                      d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"
                      fill="#fff"></path>
                    <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z"
                          fill="#fff"></path>
                    <path
                      d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"
                      fill="#c00"></path>
                  </g>
                </g>
              </svg>
              English
            </a>
            <ul id="languages-dropdown-2"
                class="list-unstyled u-shadow-v29 g-pos-abs g-bg-white g-width-160 g-pb-5 g-mt-19 g-z-index-2 u-dropdown--css-animation u-dropdown--hidden"
                aria-labelledby="languages-dropdown-invoker-2" style="animation-duration: 300ms;">
              <li>
                <a
                  class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                  href="#!">
                  <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27"
                       viewBox="0 0 640 480">
                    <defs>
                      <clipPath id="a">
                        <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z"></path>
                      </clipPath>
                    </defs>
                    <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                      <g stroke-width="1pt">
                        <path fill="#006" d="M-256 0H768.02v512.01H-256z"></path>
                        <path
                          d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"
                          fill="#fff"></path>
                        <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z"
                              fill="#fff"></path>
                        <path
                          d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"
                          fill="#c00"></path>
                      </g>
                    </g>
                  </svg>
                  English
                </a>
              </li>
              <li>
                <a
                  class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                  href="#!">
                  <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27"
                       viewBox="0 0 640 480">
                    <g fill-rule="evenodd" stroke-width="1pt">
                      <path fill="#fff" d="M0 0h640v480H0z"></path>
                      <path fill="#0039a6" d="M0 160.003h640V480H0z"></path>
                      <path fill="#d52b1e" d="M0 319.997h640V480H0z"></path>
                    </g>
                  </svg>
                  Russian
                </a>
              </li>
            </ul>
          </li>
          <!-- End List -->
        </ul>

        </div>
        <!-- End Navigation -->

        <!-- Search -->
        <div class="col-sm-auto g-pos-rel g-py-14">
          <!-- Search Form -->
          <form id="searchform-1" class="u-searchform-v1 g-bg-white" style="top: -5px !important;">
            <div class="input-group g-brd-primary--focus">
              <input class="form-control rounded-0 u-form-control" type="search"
                     placeholder="Enter Your Search Here...">

              <!--<div class="input-group-addon p-0">-->
              <!--<button class="btn rounded-0 btn-primary btn-md g-font-size-14 g-px-18" type="submit">Go</button>-->
              <!--</div>-->
            </div>
          </form>
          <!-- End Search Form -->
        </div>
      </div>
    </nav>
  </div>
</header>
