<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>Your Profile</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">Your Profile</h1>
      </div>
    </div>
  </div>
</section>

<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <app-profile-gallery-navigation></app-profile-gallery-navigation>
    </div>
    <!-- End Profile Settings -->


    <!-- Login & Security -->
    <div class="col-lg-9 g-mb-50">

      <!-- Info -->
      <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

        <div class="row">
          <div class="col-12">
            <span class="d-block g-color-text g-font-size-13 mb-1">Legal Name:</span>
            <span class="d-block">{{gallery?.organization.legalName}}</span>
          </div>
        </div>

        <hr class="g-brd-gray-light-v4 g-my-20">

        <div class="row">
          <div class="col-12">
            <span class="d-block g-color-text g-font-size-13 mb-1">Location:</span>
            <span class="d-block">{{gallery?.addresses[0].street}} {{gallery?.addresses[0].state}} {{gallery?.addresses[0].postalCode}} {{gallery?.addresses[0].city}} {{gallery?.addresses[0].country.nameMl[translate.currentLang]}}</span>
          </div>
        </div>

        <hr class="g-brd-gray-light-v4 g-my-20">

        <div class="row">
          <div class="col-12">
            <span class="d-block g-color-text g-font-size-13 mb-1">Description:</span>
            <span class="d-block">{{gallery?.description}}</span>
          </div>
        </div>

      </div>
      <!-- End Info -->

      <!--<button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">Update</button>-->

      <a
        class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7"
        routerLink="/profile/gallery/edit">Edit</a>
    </div>
    <!-- End Login & Security -->
  </div>
</div>
