<html>
<body>
<h3>Hello,</h3>
<p>Welcome to the art platform Malevich!</p>
<p>We are going to transform your perspectives and guide you to the new world of transparent and safe global art trade.</p>
<p>This is an activation link for your account <a href="$link">$link</a></p>
</body>
</html>