<html>
<body>
<h3>Hi,</h3>
<p>You've recently asked to reset the password for this Malevich.io account:
    <a href="mailto:$email">$email</a></p>
<p>To update your password, click <a href="$link">this link</a></p>
</body>
</html>