<html>
<body>
<h3>Привет,</h3>
<p>Недавно вы делали запрос на изменение пароля учетной записи портала Malevich.io:
    <a href="mailto:$email">$email</a></p>
<p>Для сброса пароля перейдите по <a href="$link">этой ссылке</a></p>
</body>
</html>