<!-- Breadcrumbs -->
<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>{{'INDEX.ARTISTS_MENU_ITEM' | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">{{'INDEX.ARTISTS_MENU_ITEM' | translate}}</h1>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->
<div class="container">
  <div class="row">
    <!-- Content -->
    <div class="col-md order-md-2">
      <div class="g-pl-15--lg">

        <!-- Products -->
        <app-artists-list-grid [artists]="artists" *ngIf="showGrid"></app-artists-list-grid>
        <app-artists-list-list [artists]="artists" *ngIf="!showGrid"></app-artists-list-list>
        <!-- End Products -->

        <hr class="g-mb-60">


      </div>
    </div>
    <!-- End Content -->

  </div>
</div>
