<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/profile/gallery/view">{{'GALLERY_PROFILE.TITLE' |
              translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/profile/gallery/artworkstok">Document</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>Add</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">{{'GALLERY_PROFILE.DOCUMENTS.ADD.TITLE' | translate}}</h1>
      </div>
    </div>
  </div>
</section>

<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <app-profile-gallery-navigation></app-profile-gallery-navigation>
    </div>
    <!-- End Profile Settings -->
    <!-- Add -->
    <div class="col-lg-9 g-mb-50">

      <!-- Info -->
      <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

        <div class="row">
          <div class="col-12">
            <span class="d-block g-color-text g-font-size-13 mb-1">Choose from existing</span>
            <mchComboBox #documentTypeComboBox
                         [objectSource]="documentTypes"
                         [displayFunc]="documentTypeDisplayFunc"
                         [ngModel]="document?.documentType"
                         (ngModelChange)="onTypeComboBoxChange($event)">
            </mchComboBox>
          </div>
        </div>

        <hr class="g-brd-gray-light-v4 g-my-20">

        <div class="row">
          <div class="col-12">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'GALLERY_PROFILE.SECURITY.UPLOAD_AVATAR' | translate}}</span>
            <jqxFileUpload
              [width]="'100%'" [uploadUrl]="url + 'document/uploadFile'" [fileInputName]="'file'"
              (onUploadEnd)="onUploadEnd($event)" [multipleFilesUpload]="false">
            </jqxFileUpload>
          </div>
        </div>
      </div>
      <!-- End Info -->
      <button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25 g-mr-20" type="submit"
              (click)="submit()">{{'TRADER_PROFILE.SECURITY.BUTTON.SUBMIT' | translate}}
      </button>
      <button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="button" (click)="cancel()">
        {{'TRADER_PROFILE.SECURITY.BUTTON.CANCEL' | translate}}
      </button>
    </div>
    <!-- End Add -->
  </div>
</div>
