<!-- Security Settings -->
<div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
  <h3 class="h5 mb-3">Security Settings</h3>

  <!-- Security Settings -->
  <div class="d-flex mb-3">
    <span class="g-color-text g-font-size-13">Free SMS transaction alert service</span>

    <form class="ml-auto">
      <label class="form-check-inline u-check mb-0">
        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="radGroup1_1" type="checkbox">
        <div class="u-check-icon-radio-v7">
          <i class="fa" data-check-icon="" data-uncheck-icon=""></i>
        </div>
      </label>
    </form>
  </div>
  <!-- End Security Settings -->

  <!-- Security Settings -->
  <div class="d-flex mb-3">
    <span class="g-color-text g-font-size-13">Email binding for password recovery</span>

    <form class="ml-auto">
      <label class="form-check-inline u-check mb-0">
        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="radGroup1_1" type="checkbox" checked="">
        <div class="u-check-icon-radio-v7">
          <i class="fa" data-check-icon="" data-uncheck-icon=""></i>
        </div>
      </label>
    </form>
  </div>
  <!-- End Security Settings -->

  <!-- Security Settings -->
  <div class="d-flex mb-3">
    <span class="g-color-text g-font-size-13">Make a payment from your Android Pay wallet</span>

    <form class="ml-auto">
      <label class="form-check-inline u-check mb-0">
        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="radGroup1_1" type="checkbox">
        <div class="u-check-icon-radio-v7">
          <i class="fa" data-check-icon="" data-uncheck-icon=""></i>
        </div>
      </label>
    </form>
  </div>
  <!-- End Security Settings -->

  <!-- Security Settings -->
  <div class="d-flex mb-3">
    <span class="g-color-text g-font-size-13">Receive email confirmations of your each order</span>

    <form class="ml-auto">
      <label class="form-check-inline u-check mb-0">
        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="radGroup1_1" type="checkbox" checked="">
        <div class="u-check-icon-radio-v7">
          <i class="fa" data-check-icon="" data-uncheck-icon=""></i>
        </div>
      </label>
    </form>
  </div>
  <!-- End Security Settings -->

  <!-- Security Settings -->
  <div class="d-flex mb-3">
    <span class="g-color-text g-font-size-13">Receive promotions, news and gifts</span>

    <form class="ml-auto">
      <label class="form-check-inline u-check mb-0">
        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="radGroup1_1" type="checkbox" checked="">
        <div class="u-check-icon-radio-v7">
          <i class="fa" data-check-icon="" data-uncheck-icon=""></i>
        </div>
      </label>
    </form>
  </div>
  <!-- End Security Settings -->
</div>
<!-- End Security Settings -->

<button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">Update</button>
