<form #f="ngForm" (ngSubmit)="onFormSubmit()" novalidate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto pl-0 pr-1">
        <mchNumberInput name="amount"
                        mchRequired
                        mchMultipleOf="10"
                        [decimalDigits]="0"
                        [(ngModel)]="amount"
        ></mchNumberInput>
      </div>
      <div class="col-3 px-1">
        <mchButton class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-5"
                   [submitForm]="f"
                   [height]="null">
          {{'PROFILE.BUTTON.CONFIRM' | translate}}
        </mchButton>
      </div>
      <div class="col-3 pl-1 pr-0">
        <mchButton
          class="btn btn-block u-btn-outline-black g-brd-gray-dark-v5 g-brd-black--hover g-color-gray-dark-v4 g-color-white--hover g-font-size-12 text-uppercase g-py-15 g-px-5"
          (onClick)="cancel()"
          [height]="null">
          {{'PROFILE.BUTTON.CANCEL' | translate}}
        </mchButton>
      </div>
    </div>
  </div>
  <!--<div class="row g-mt-10">-->
  <!--<div class="col">-->
  <!--<span>Expiration:</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="col">-->
  <!--<mchDropDownList name="tradeType"-->
  <!--[objectSource]="tradeTypes"-->
  <!--[displayFunc]="tradeTypeDisplayFunc"-->
  <!--[(ngModel)]="newOrder.tradeType"-->
  <!--(onSelect)="onTradeTypeSelected($event)"-->
  <!--&gt;</mchDropDownList>-->
  <!--</div>-->
  <!--</div>-->
  <!--<ng-container *ngIf="!expirationDateHidden">-->
  <!--<div class="row g-mt-10">-->
  <!--<div class="col">-->
  <!--<span>Expiration Date:</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="col">-->
  <!--<mchDateTimeInput name="expirationDate"-->
  <!--mchRequired-->
  <!--[(ngModel)]="newOrder.expirationDate"-->
  <!--&gt;</mchDateTimeInput>-->
  <!--</div>-->
  <!--</div>-->
  <!--</ng-container>-->
  <!--<div class="row">-->
  <!--<div class="col text-center">-->
  <!--<mchButton #SendButton-->
  <!--class="g-mt-10"-->
  <!--[submitForm]="f"-->
  <!--[width]="60" [height]="25">-->
  <!--Send-->
  <!--</mchButton>-->
  <!--</div>-->
  <!--</div>-->
</form>
