<div class="row g-pt-30">
  <div class="col-xl-4 col-md-6 g-mb-30" *ngFor="let gallery of galleries">
    <!-- Products -->
    <article *ngIf="gallery.titleMl">
      <img class="img-fluid" src="{{url}}{{gallery.thumbnail.url}}" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">
            <a routerLink="/galleries/galleries-detail/{{gallery.id}}">{{gallery.titleMl[translate.currentLang]}}</a>
          </h3>
          <p class="g-font-size-13 mb-4">xxxxxx</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">{{"MAIN.GALLERY.POSTED" | translate}}:
            <span
              class="g-color-text g-font-weight-400">12 {{"MAIN.GALLERY.DAYS" | translate}} {{"MAIN.GALLERY.AGO" | translate}}</span>
          </p>
        </div>
        <!-- End Products - Address -->
      </div>
    </article>
    <!-- End Products -->
  </div>
</div>
