<div class="row g-pt-30">
  <div class="col-xl-4 col-md-6 g-mb-30">
    <!-- Products -->
    <article>
      <img class="img-fluid" src="https://via.placeholder.com/600x450/img1.jpg" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - List of Details -->
        <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
            4 Bed rm.
          </li>
          <li
            class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
            3 Bath rm.
          </li>
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
            2,020 sqft
          </li>
        </ul>
        <!-- End Products - List of Details -->

        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">90 Karl Walk, Port Layla, BL2 0UR</h3>
          <p class="g-font-size-13 mb-4">London, England</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a
            class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Excellent
            Estate</a></p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span
            class="g-color-text g-font-weight-400">12 days ago</span></p>
        </div>
        <!-- End Products - Address -->

        <!-- Products - List of Details -->
        <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
            $780,000
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Add to Compare">
              <i class="icon-finance-149 u-line-icon-pro"></i>
            </a>
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Save to Wishlist">
              <i class="icon-medical-022 u-line-icon-pro"></i>
            </a>
          </li>
        </ul>
        <!-- End Products - List of Details -->
      </div>

      <a
        class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
        href="page-single-item-1.html">
        See Details
        <i class="align-middle ml-2 fa fa-angle-right"></i>
      </a>
    </article>
    <!-- End Products -->
  </div>

  <div class="col-xl-4 col-md-6 g-mb-30">
    <!-- Products -->
    <article>
      <img class="img-fluid" src="https://via.placeholder.com/600x450/img4.jpg" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - List of Details -->
        <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
            3 Bed rm.
          </li>
          <li
            class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
            2 Bath rm.
          </li>
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
            1,527 sqft
          </li>
        </ul>
        <!-- End Products - List of Details -->

        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">470 Lucy Forks, Patriciafurt, YC7B</h3>
          <p class="g-font-size-13 mb-4">London, England</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a
            class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American
            Property</a></p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span
            class="g-color-text g-font-weight-400">12 days ago</span></p>
        </div>
        <!-- End Products - Address -->

        <!-- Products - List of Details -->
        <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
            $1,620,000
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Add to Compare">
              <i class="icon-finance-149 u-line-icon-pro"></i>
            </a>
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Save to Wishlist">
              <i class="icon-medical-022 u-line-icon-pro"></i>
            </a>
          </li>
        </ul>
        <!-- End Products - List of Details -->
      </div>

      <a
        class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
        href="page-single-item-1.html">
        See Details
        <i class="align-middle ml-2 fa fa-angle-right"></i>
      </a>
    </article>
    <!-- End Products -->
  </div>

  <div class="col-xl-4 col-md-6 g-mb-30">
    <!-- Products -->
    <article>
      <img class="img-fluid" src="https://via.placeholder.com/600x450/img5.jpg" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - List of Details -->
        <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
            1 Bed rm.
          </li>
          <li
            class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
            1 Bath rm.
          </li>
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
            905 sqft
          </li>
        </ul>
        <!-- End Products - List of Details -->

        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">06 Bell Views, Andyshire, BN2L 9WC</h3>
          <p class="g-font-size-13 mb-4">Edinburgh, Scotland</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a
            class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real
            Estate State</a></p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span
            class="g-color-text g-font-weight-400">12 days ago</span></p>
        </div>
        <!-- End Products - Address -->

        <!-- Products - List of Details -->
        <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
            $220,000
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Add to Compare">
              <i class="icon-finance-149 u-line-icon-pro"></i>
            </a>
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Save to Wishlist">
              <i class="icon-medical-022 u-line-icon-pro"></i>
            </a>
          </li>
        </ul>
        <!-- End Products - List of Details -->
      </div>

      <a
        class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
        href="page-single-item-1.html">
        See Details
        <i class="align-middle ml-2 fa fa-angle-right"></i>
      </a>
    </article>
    <!-- End Products -->
  </div>

  <div class="col-xl-4 col-md-6 g-mb-30">
    <!-- Products -->
    <article>
      <img class="img-fluid" src="https://via.placeholder.com/600x450/img11.jpg" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - List of Details -->
        <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
            2 Bed rm.
          </li>
          <li
            class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
            1 Bath rm.
          </li>
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
            1,348 sqft
          </li>
        </ul>
        <!-- End Products - List of Details -->

        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">4 Allen Ramp, New Dean, T01 2WA</h3>
          <p class="g-font-size-13 mb-4">London, England</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a
            class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American
            Property</a></p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span
            class="g-color-text g-font-weight-400">12 days ago</span></p>
        </div>
        <!-- End Products - Address -->

        <!-- Products - List of Details -->
        <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
            $320,000
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Add to Compare">
              <i class="icon-finance-149 u-line-icon-pro"></i>
            </a>
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Save to Wishlist">
              <i class="icon-medical-022 u-line-icon-pro"></i>
            </a>
          </li>
        </ul>
        <!-- End Products - List of Details -->
      </div>

      <a
        class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
        href="page-single-item-1.html">
        See Details
        <i class="align-middle ml-2 fa fa-angle-right"></i>
      </a>
    </article>
    <!-- End Products -->
  </div>

  <div class="col-xl-4 col-md-6 g-mb-30">
    <!-- Products -->
    <article>
      <img class="img-fluid" src="https://via.placeholder.com/600x450/img1.jpg" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - List of Details -->
        <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
            7 Bed rm.
          </li>
          <li
            class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
            5 Bath rm.
          </li>
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
            3,725 sqft
          </li>
        </ul>
        <!-- End Products - List of Details -->

        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">Flat 60, Ross Green, South Lilyberg</h3>
          <p class="g-font-size-13 mb-4">Milan, Italy</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a
            class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real
            Estate State</a></p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span
            class="g-color-text g-font-weight-400">12 days ago</span></p>
        </div>
        <!-- End Products - Address -->

        <!-- Products - List of Details -->
        <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
            $1,254,000
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Add to Compare">
              <i class="icon-finance-149 u-line-icon-pro"></i>
            </a>
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Save to Wishlist">
              <i class="icon-medical-022 u-line-icon-pro"></i>
            </a>
          </li>
        </ul>
        <!-- End Products - List of Details -->
      </div>

      <a
        class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
        href="page-single-item-1.html">
        See Details
        <i class="align-middle ml-2 fa fa-angle-right"></i>
      </a>
    </article>
    <!-- End Products -->
  </div>

  <div class="col-xl-4 col-md-6 g-mb-30">
    <!-- Products -->
    <article>
      <img class="img-fluid" src="https://via.placeholder.com/600x450/img15.jpg" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - List of Details -->
        <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
            4 Bed rm.
          </li>
          <li
            class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
            3 Bath rm.
          </li>
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
            2,020 sqft
          </li>
        </ul>
        <!-- End Products - List of Details -->

        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">90 Karl Walk, Port Layla, BL2 0UR</h3>
          <p class="g-font-size-13 mb-4">London, England</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a
            class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Excellent
            Estate</a></p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span
            class="g-color-text g-font-weight-400">12 days ago</span></p>
        </div>
        <!-- End Products - Address -->

        <!-- Products - List of Details -->
        <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
            $879,000
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Add to Compare">
              <i class="icon-finance-149 u-line-icon-pro"></i>
            </a>
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Save to Wishlist">
              <i class="icon-medical-022 u-line-icon-pro"></i>
            </a>
          </li>
        </ul>
        <!-- End Products - List of Details -->
      </div>

      <a
        class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
        href="page-single-item-1.html">
        See Details
        <i class="align-middle ml-2 fa fa-angle-right"></i>
      </a>
    </article>
    <!-- End Products -->
  </div>

  <div class="col-xl-4 col-md-6 g-mb-30">
    <!-- Products -->
    <article>
      <img class="img-fluid" src="https://via.placeholder.com/600x450/img3.jpg" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - List of Details -->
        <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
            3 Bed rm.
          </li>
          <li
            class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
            2 Bath rm.
          </li>
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
            1,527 sqft
          </li>
        </ul>
        <!-- End Products - List of Details -->

        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">470 Lucy Forks, Patriciafurt, YC7B</h3>
          <p class="g-font-size-13 mb-4">London, England</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a
            class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American
            Property</a></p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span
            class="g-color-text g-font-weight-400">12 days ago</span></p>
        </div>
        <!-- End Products - Address -->

        <!-- Products - List of Details -->
        <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
            $1,700,000
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Add to Compare">
              <i class="icon-finance-149 u-line-icon-pro"></i>
            </a>
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Save to Wishlist">
              <i class="icon-medical-022 u-line-icon-pro"></i>
            </a>
          </li>
        </ul>
        <!-- End Products - List of Details -->
      </div>

      <a
        class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
        href="page-single-item-1.html">
        See Details
        <i class="align-middle ml-2 fa fa-angle-right"></i>
      </a>
    </article>
    <!-- End Products -->
  </div>

  <div class="col-xl-4 col-md-6 g-mb-30">
    <!-- Products -->
    <article>
      <img class="img-fluid" src="https://via.placeholder.com/600x450/img2.jpg" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - List of Details -->
        <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
            1 Bed rm.
          </li>
          <li
            class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
            1 Bath rm.
          </li>
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
            905 sqft
          </li>
        </ul>
        <!-- End Products - List of Details -->

        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">06 Bell Views, Andyshire, BN2L 9WC</h3>
          <p class="g-font-size-13 mb-4">Edinburgh, Scotland</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a
            class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real
            Estate State</a></p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span
            class="g-color-text g-font-weight-400">12 days ago</span></p>
        </div>
        <!-- End Products - Address -->

        <!-- Products - List of Details -->
        <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
            $560,000
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Add to Compare">
              <i class="icon-finance-149 u-line-icon-pro"></i>
            </a>
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Save to Wishlist">
              <i class="icon-medical-022 u-line-icon-pro"></i>
            </a>
          </li>
        </ul>
        <!-- End Products - List of Details -->
      </div>

      <a
        class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
        href="page-single-item-1.html">
        See Details
        <i class="align-middle ml-2 fa fa-angle-right"></i>
      </a>
    </article>
    <!-- End Products -->
  </div>

  <div class="col-xl-4 col-md-6 g-mb-30">
    <!-- Products -->
    <article>
      <img class="img-fluid" src="https://via.placeholder.com/600x450/img8.jpg" alt="Image Description">

      <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
        <!-- Products - List of Details -->
        <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
            2 Bed rm.
          </li>
          <li
            class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
            1 Bath rm.
          </li>
          <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
            <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
            1,348 sqft
          </li>
        </ul>
        <!-- End Products - List of Details -->

        <!-- Products - Address -->
        <div class="g-pa-25">
          <h3 class="g-font-weight-600 g-font-size-16">4 Allen Ramp, New Dean, T01 2WA</h3>
          <p class="g-font-size-13 mb-4">London, England</p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a
            class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American
            Property</a></p>
          <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span
            class="g-color-text g-font-weight-400">12 days ago</span></p>
        </div>
        <!-- End Products - Address -->

        <!-- Products - List of Details -->
        <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
          <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
            $350,000
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Add to Compare">
              <i class="icon-finance-149 u-line-icon-pro"></i>
            </a>
          </li>
          <li class="list-inline-item col-2 g-px-0 mr-0">
            <a
              class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13"
              href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Save to Wishlist">
              <i class="icon-medical-022 u-line-icon-pro"></i>
            </a>
          </li>
        </ul>
        <!-- End Products - List of Details -->
      </div>

      <a
        class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15"
        href="page-single-item-1.html">
        See Details
        <i class="align-middle ml-2 fa fa-angle-right"></i>
      </a>
    </article>
    <!-- End Products -->
  </div>
</div>
