<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/profile/view">{{'PROFILE.TITLE' |
              translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span> {{"PROFILE.WALLET.TITLE" | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0"> {{"PROFILE.WALLET.TITLE" | translate}}</h1>
      </div>
    </div>
  </div>
</section>

<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <app-profile-navigation></app-profile-navigation>
    </div>
    <!-- End Profile Settings -->

    <div class="col-lg-9 g-mb-50">
      <!-- Wallet -->
      <!-- Balance & Rewards -->
      <div class="g-brd-around g-brd-gray-light-v4 rounded g-px-30 g-pt-30">
        <h3 class="h5 mb-3">{{"PROFILE.WALLET.BALANCE" | translate}}</h3>

        <!-- Balance Info -->
        <div class="row justify-content-between">
          <div class="col-sm-4 g-mb-30">
            <div class="g-bg-gray-dark-v3 text-center rounded g-px-20 g-py-30">
              <span class="d-block g-color-white g-font-weight-600 g-font-size-25 mb-1">${{accountState?.amount}}</span>
              <span class="d-block g-color-white-opacity-0_8 g-font-size-18">{{"PROFILE.WALLET.AVAILABLE" | translate}} {{"PROFILE.WALLET.BALANCE" | translate}}</span>
            </div>
          </div>
        </div>
        <!-- End Balance Info -->

        <!-- Add Balance -->
        <div class="row g-mb-50">
          <div class="col-lg-9">
            <mchButton
              class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-9 g-mr-15"
              (click)="openPaymentWindow()">
              <i class="align-middle g-font-size-16 mr-2 icon-finance-053 u-line-icon-pro"></i>
              {{"PROFILE.BUTTON.ADD" | translate}} {{"PROFILE.WALLET.BALANCE" | translate}}
            </mchButton>

            <mchButton
              class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-9"
              (click)="openWithdrawWindow()">
              <i class="align-middle g-font-size-16 mr-2 icon-finance-210 u-line-icon-pro"></i>
              {{"PROFILE.BUTTON.WITHDRAW" | translate}} {{"PROFILE.WALLET.BALANCE" | translate}}
            </mchButton>
          </div>
        </div>
        <jqxGrid #myGrid
                 [width]="'100%'"
                 [height]="'320px'"
                 class="g-mt-5 g-mb-15"
                 [sortable]="true"
                 [columnsresize]="true"
                 [filterable]="true"
                 [autoshowfiltericon]="true"
                 [columns]="columns">
          <tr>
            <th>{{"PROFILE.GRID.PAYMENT_NO" | translate}}</th>
            <th>{{"PROFILE.GRID.DATE" | translate}}</th>
            <th>{{"PROFILE.GRID.AMOUNT" | translate}}</th>
            <th>{{"PROFILE.GRID.TYPE" | translate}}</th>
            <th>{{"PROFILE.GRID.PRINT" | translate}}</th>
          </tr>
          <tr *ngFor="let payment of payments">
            <td>
              {{payment.id}}
            </td>
            <td>
              {{payment.effectiveDate}}
            </td>
            <td>
              {{payment.amount}}
            </td>
            <td>
              {{payment.paymentType.nameMl[translate.currentLang]}}
            </td>
            <td>
            </td>
          </tr>
        </jqxGrid>
      </div>
    </div>
  </div>
</div>

<jqxWindow #myWindow [autoOpen]="false" [resizable]="false">
  <div>Add balance</div>
  <div style="overflow: hidden" style="width: 100%">
    <table class="register-table" *ngIf="newPayment" style="width: 100%">
      <tbody>
      <tr>Amount:</tr>
      <tr>
        <mchNumberInput
          class="amountInput"
          [ngModel]="newPayment?.amount"
          (ngModelChange)="newPayment.amount=$event"></mchNumberInput>
      </tr>
      <tr>
        <td colspan="2" style="padding-left: 20px;">
          <mchButton #SendButton
                     (onClick)="sendPayment()"
                     style="text-align: center; margin-left: 8em;"
                     [width]="60" [height]="25">
            Send
          </mchButton>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</jqxWindow>

<jqxWindow #withdrawWindow [autoOpen]="false" [resizable]="false">
  <div>Add balance</div>
  <div style="overflow: hidden" style="width: 100%">
    <table class="register-table" *ngIf="newWithdraw" style="width: 100%">
      <tbody>
      <tr>Amount:</tr>
      <tr>
        <mchNumberInput
          class="amountInput"
          [ngModel]="-newWithdraw?.amount"
          (ngModelChange)="newWithdraw.amount=-$event"></mchNumberInput>
      </tr>
      <tr>
        <td colspan="2" style="padding-left: 20px;">
          <mchButton #SendButton
                     (onClick)="sendWithdraw()"
                     style="text-align: center; margin-left: 8em;"
                     [width]="60" [height]="25">
            Send
          </mchButton>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</jqxWindow>


