<!-- Info -->
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="row">
    <div class="col-12">
        <span
          class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.STORAGE.EDIT.TITLE_EN' | translate}}:</span>
      <mchInput
        name="titleEn"
        mchRequired
        [ngModel]="!artwork?.titleMl ? '' : artwork?.titleMl['en']"
        (ngModelChange)="onTitleEditorChange($event, 'en')"></mchInput>
    </div>
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row">
    <div class="col-12">
      <span class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.STORAGE.EDIT.IMAGE' | translate}}</span>
      <jqxFileUpload
        [width]="'100%'" [uploadUrl]="url + 'files/uploadFile'" [fileInputName]="'file'"
        (onUploadEnd)="onUploadImage($event)" [multipleFilesUpload]="false">
      </jqxFileUpload>
      <span *ngIf="artwork?.image">{{artwork.image.fileName}}</span>
      <div *ngIf="!artwork?.image"
           class="invalid-feedback d-block">
        <ul class="mb-0">
          <li>
            Image required
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row">
    <div class="col-12">
        <span
          class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.STORAGE.EDIT.THUMBNAIL' | translate}}</span>
      <jqxFileUpload
        [width]="'100%'" [uploadUrl]="url + 'files/uploadFile'" [fileInputName]="'file'"
        (onUploadEnd)="onUploadThumbnail($event)" [multipleFilesUpload]="false">
      </jqxFileUpload>
      <span *ngIf="artwork?.thumbnail">{{artwork.thumbnail.fileName}}</span>
      <div *ngIf="!artwork?.thumbnail"
           class="invalid-feedback d-block">
        <ul class="mb-0">
          <li>
            Image required
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row">
    <div class="col-12">
        <span
          class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.STORAGE.EDIT.DESCRIPTION_EN' | translate}}:</span>
      <mchTextArea
        name="descriptionEn"
        [ngModel]="!artwork?.descriptionMl ? '' : artwork?.descriptionMl['en']"
        (ngModelChange)="onDescriptionEditorChange($event, 'en')"
        [height]="'200px'"></mchTextArea>
    </div>
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row">
    <div class="col-12">
      <span
        class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.STORAGE.EDIT.ARTIST' | translate}}:</span>
      <mchComboBox
        #artist
        name="artist"
        [objectSource]="artists"
        [displayFunc]="artistDisplayFunc"
        [ngModel]="artwork?.artist"
        (ngModelChange)="onArtistComboBoxChange($event)">
      </mchComboBox>
      <div *ngIf="!artwork?.artist"
           class="invalid-feedback d-block">
        <ul class="mb-0">
          <li>
            Artist required
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row g-mb-30">
    <div class="col-12">
        <span
          class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.STORAGE.EDIT.CATEGORY' | translate}}:</span>
      <mchComboBox
        #category
        name="category"
        [objectSource]="categories"
        [displayFunc]="categoryDisplayFunc"
        [ngModel]="artwork?.category"
        (ngModelChange)="onCategoryComboBoxChange($event)">
      </mchComboBox>
      <div *ngIf="!artwork?.category"
           class="invalid-feedback d-block">
        <ul class="mb-0">
          <li>
            Category required
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>
<!-- End Info -->
<mchButton class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25 g-mr-20"
           [disabled]="buttonsDisabled"
           [submitForm]="f">{{'PROFILE.BUTTON.UPDATE' | translate}}
</mchButton>
<mchButton class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25"
           [disabled]="buttonsDisabled"
           (click)="cancel()">
  {{'PROFILE.BUTTON.CANCEL' | translate}}
</mchButton>
