<div class="row g-pt-30 g-mb-50">
  <div class="col-6 col-lg-4 g-mb-30" *ngFor="let artworkStock of artworkStocks">
    <!-- Product -->
    <a class="u-link-v5 g-color-black g-color-primary--hover"
       routerLink="/artworks/artworks-detail/{{artworkStock.id}}">
      <figure class="g-pos-rel g-mb-20">
        <img class="img-fluid" src="{{url}}{{artworkStock.artwork.thumbnail.url}}" alt="Image Description">
      </figure>
    </a>

    <div class="media">
      <!-- Product Info -->
      <div class="d-flex flex-column">
        <h4 class="h6 g-color-black mb-1">
          <a class="u-link-v5 g-color-black g-color-primary--hover"
             routerLink="/artworks/artworks-detail/{{artworkStock.id}}">
            {{artworkStock.artwork.titleMl[translate.currentLang]}}
          </a>
        </h4>
        <span class="d-inline-block g-color-gray-dark-v5 g-font-size-13">{{artworkStock.artwork.category.categoryNameMl[translate.currentLang]}}</span>
        <span class="d-block g-color-black g-font-size-17">${{artworkStock.artwork.estimatedPrice}}</span>
      </div>
      <!-- End Product Info -->

      <!-- Products Icons -->
      <ul class="list-inline media-body text-right">
        <li class="list-inline-item align-middle mx-0">
          <a
            class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
            (click)="openWindow(artworkStock)" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Place a bid">
            <i class="icon-real-estate-089 u-line-icon-pro"></i>
          </a>
        </li>
        <li class="list-inline-item align-middle mx-0">
          <a
            class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
            (click)="addToWishList(artworkStock)" data-toggle="tooltip" data-placement="top" title=""
            data-original-title="Add to Wishlist">
            <i class="icon-medical-022 u-line-icon-pro"></i>
          </a>
        </li>
      </ul>
      <!-- End Products Icons -->
    </div>
    <!-- End Product -->
  </div>

</div>

<mch-order-window #myWindow [orderType]="'bid'" (onOrderPlaced)="onOrderPlaced($event)"></mch-order-window>
