<mchButton
  class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-9 g-mr-15"
  [disabled]="!selectedWallet"
  (click)="openPaymentWindow()">
  <i class="align-middle g-font-size-16 mr-2 icon-finance-053 u-line-icon-pro"></i>
  Add Balance
</mchButton>

<mchButton
  class="g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-9"
  [disabled]="!selectedWallet"
  (click)="openWithdrawWindow()">
  <i class="align-middle g-font-size-16 mr-2 icon-finance-210 u-line-icon-pro"></i>
  Withdraw Balance
</mchButton>

<jqxGrid #myGrid
         [width]="'100%'" [height]="'90%'" [pageable]="true" [sortable]="true" [filterable]="true"
         [columnsresize]="true"
         [pagermode]="'simple'" (onRowselect)="onGridRowSelect($event)"
         [rowdetails]="true" [initrowdetails]="initRowDetails"
         [ready]="gridReady" [rowdetailstemplate]="rowDetailsTemplate">
  <tr>
    <th>User</th>
    <th>User Type</th>
    <th>Balance</th>
  </tr>
  <tr *ngFor="let wallet of wallets;index as i">
    <td>
      {{wallet.participant?.users[0].name}}
    </td>
    <td>
      {{wallet.participant?.type.nameMl['en']}}
    </td>
    <td>
      {{wallet.amount}}
    </td>
  </tr>
</jqxGrid>

<jqxWindow #myWindow [autoOpen]="false" [resizable]="false">
  <div>Add balance</div>
  <div style="overflow: hidden" style="width: 100%">
    <table class="register-table" *ngIf="newPayment" style="width: 100%">
      <tbody>
      <tr>Amount:</tr>
      <tr>
        <mchNumberInput
          class="amountInput"
          [ngModel]="newPayment?.amount"
          (ngModelChange)="newPayment.amount=$event"></mchNumberInput>
      </tr>
      <tr>
        <td colspan="2" style="padding-left: 20px;">
          <mchButton #SendButton
                     (onClick)="sendPayment()"
                     style="text-align: center; margin-left: 8em;"
                     [width]="60" [height]="25">
            Send
          </mchButton>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</jqxWindow>

<jqxWindow #withdrawWindow [autoOpen]="false" [resizable]="false">
  <div>Withdraw balance</div>
  <div style="overflow: hidden" style="width: 100%">
    <table class="register-table" *ngIf="newWithdraw" style="width: 100%">
      <tbody>
      <tr>Amount:</tr>
      <tr>
        <mchNumberInput
          class="amountInput"
          [ngModel]="-newWithdraw?.amount"
          (ngModelChange)="newWithdraw.amount=-$event"></mchNumberInput>
      </tr>
      <tr>
        <td colspan="2" style="padding-left: 20px;">
          <mchButton #SendButton
                     (onClick)="sendWithdraw()"
                     style="text-align: center; margin-left: 8em;"
                     [width]="60" [height]="25">
            Send
          </mchButton>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</jqxWindow>
