<jqxWindow #myWindow [autoOpen]="false" [resizable]="false">
  <div>Add ask</div>
  <div #divBody style="width: 100%">
    <jqxValidator #myValidator [rules]="rules" (onValidationSuccess)="validationSuccess($event)">
      <div class="container" *ngIf="newOrder" style="width: 100%">
        <div class="row g-mt-10">
          <div class="col">
            <span>Amount:</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mchNumberInput
              class="amountInput"
              [ngModel]="newOrder?.amount"
              (ngModelChange)="newOrder.amount=$event"></mchNumberInput>
          </div>
        </div>
        <div class="row g-mt-10">
          <div class="col">
            <span>Expiration:</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mchDropDownList #tradeTypeDropDown
                             [objectSource]="tradeTypes"
                             [displayFunc]="tradeTypeDisplayFunc"
                             [(ngModel)]="newOrder.tradeType"
                             (onSelect)="onTradeTypeSelected($event)"
            ></mchDropDownList>
          </div>
        </div>
        <div class="row g-mt-10" [hidden]="expirationDateHidden">
          <div class="col">
            <span>Expiration Date:</span>
          </div>
        </div>
        <div class="row" [hidden]="expirationDateHidden">
          <div class="col">
            <mchDateTimeInput #expirationDateInput
                              [(ngModel)]="newOrder.expirationDate"
            ></mchDateTimeInput>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
              <mchButton #SendButton
                         (onClick)="sendButton()"
                         [width]="60" [height]="25">
                Send
              </mchButton>
          </div>
        </div>
      </div>
    </jqxValidator>
  </div>
</jqxWindow>
