<jqxWindow #myWindow [autoOpen]="false" [resizable]="false">
  <div>Add ask</div>
  <div #divBody style="width: 100%">
    <form [formGroup]="myForm" novalidate>
      <div class="container" style="width: 100%">


        <div class="form-group">
          <div class="row g-mt-10">
            <div class="col">
              <span>Amount:</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mchNumberInput #amountInput
                              class="form-control"
                              formControlName="amount">
              </mchNumberInput>
              <div *ngIf="validationService.isInValid(controls.amount)"
                   class="invalid-feedback d-block">
                <ul>
                  <li *ngFor="let error of validationService.errors(controls.amount)">
                    {{error}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row g-mt-10">
            <div class="col">
              <span>Expiration:</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mchDropDownList #tradeTypeDropDown
                               class="form-control"
                               formControlName="tradeType"
                               [objectSource]="tradeTypes"
                               [displayFunc]="tradeTypeDisplayFunc"
                               (onSelect)="onTradeTypeSelected($event)"
              ></mchDropDownList>
            </div>
          </div>
        </div>

        <div class="form-group" [hidden]="expirationDateHidden">
          <div class="row g-mt-10">
            <div class="col">
              <span>Expiration Date:</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mchDateTimeInput #expirationDateInput
                                class="form-control"
                                formControlName="expirationDate"
              ></mchDateTimeInput>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <mchButton #SendButton
                       (onClick)="sendButton()"
                       [width]="60" [height]="25">
              Send
            </mchButton>
          </div>
        </div>
      </div>
    </form>
  </div>
</jqxWindow>
