<!-- Categories -->
<div class="g-mb-30">
  <h3 class="h5 mb-3">{{'ARTHUNTER.CATEGORY_TITLE' | translate}}</h3>

  <ul class="list-unstyled">
    <li class="my-3" *ngFor="let category of categories">
      <a class="d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="javascript:;"
         (click)="filter(category.id)">{{category.categoryNameMl[translate.currentLang]}}
        <span class="float-right g-font-size-12">...</span></a>
    </li>
  </ul>
</div>
<!-- End Categories -->

<hr>

<button class="btn btn-block u-btn-black g-font-size-12 text-uppercase g-py-12 g-px-25" type="button">Reset</button>

