<!-- Login & Security -->
<!-- Info -->
<div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
  <div class="row">
    <div class="col-8">
      <span class="d-block g-color-text g-font-size-13 mb-1">First Name:</span>
      <span *ngIf="!isEditing" class="d-block">Collins</span>
      <input *ngIf="isEditing"
             class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded"
             type="text" placeholder="First name">
    </div>

    <div class="col-4 text-right">
      <a
        class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7"
        (click)="isEditing=!isEditing">Edit</a>
    </div>
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row">
    <div class="col-8">
      <span class="d-block g-color-text g-font-size-13 mb-1">Last Name:</span>
      <span *ngIf="!isEditing" class="d-block">Collins</span>
      <input *ngIf="isEditing"
             class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded"
             type="text" placeholder="Last name">
    </div>

    <!--<div class="col-4 text-right">-->
    <!--<a-->
    <!--class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4&#45;&#45;hover g-font-size-13 rounded g-px-18 g-py-7"-->
    <!--href="#!">Edit</a>-->
    <!--</div>-->
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row">
    <div class="col-8">
      <span class="d-block g-color-text g-font-size-13 mb-1">Email:</span>
      <span class="d-block">james@gmail.com</span>
    </div>

    <!--<div class="col-4 text-right">-->
    <!--<a-->
    <!--class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4&#45;&#45;hover g-font-size-13 rounded g-px-18 g-py-7"-->
    <!--href="#!">Edit</a>-->
    <!--</div>-->
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row">
    <div class="col-8">
      <span class="d-block g-color-text g-font-size-13 mb-1">Mobile Phone Number:</span>
      <span *ngIf="!isEditing" class="d-block">+(01) 222 333 444</span>
      <div class="form-group">
        <input *ngIf="isEditing"
               class="form-control form-control-md g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded" type="text"
               placeholder="X (XXX) XXX-XXXX" data-mask="9 (999) 999-9999">
      </div>
    </div>

    <!--<div class="col-4 text-right">-->
    <!--<a-->
    <!--class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4&#45;&#45;hover g-font-size-13 rounded g-px-18 g-py-7"-->
    <!--href="#!">Edit</a>-->
    <!--</div>-->
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row">
    <div class="col-8">
      <span class="d-block g-color-text g-font-size-13 mb-1">Password:</span>
      <span class="d-block">*******</span>
    </div>

    <div class="col-4 text-right">
      <a
        class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7"
        href="#!">Change</a>
    </div>
  </div>

  <hr class="g-brd-gray-light-v4 g-my-20">

  <div class="row">
    <div class="col-8">
      <span class="d-block g-color-text g-font-size-13 mb-1">Advanced Security Settings:</span>
      <span class="d-block">Manage how and when you receive security codes</span>
    </div>

    <!--<div class="col-4 text-right">-->
    <!--<a-->
    <!--class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4&#45;&#45;hover g-font-size-13 rounded g-px-18 g-py-7"-->
    <!--href="#!">Edit</a>-->
    <!--</div>-->
  </div>
</div>
<!-- End Info -->

<button *ngIf="isEditing" class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">Update
</button>
<!-- End Login & Security -->
