<!-- Login & Security -->
<!-- Info -->
<div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
  <div class="row">
    <div class="col-8">
    </div>

    <div class="col-4 text-right">
      <a *ngIf="!isEditing"
         class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7"
        (click)="switchMode()">{{'TRADER_PROFILE.SECURITY.BUTTON.EDIT_PROFILE' | translate}}</a>
    </div>
  </div>

  <app-profile-trader-security-view *ngIf="!isEditing" [trader]="trader"></app-profile-trader-security-view>
  <app-profile-trader-security-edit *ngIf="isEditing" [trader]="trader"></app-profile-trader-security-edit>
</div>
