<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/profile/view">{{'PROFILE.TITLE' |
              translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/profile/documents">{{'PROFILE.DOCUMENTS.TITLE'
              |
              translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>{{'PROFILE.BUTTON.ADD' |
              translate}}</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">{{'PROFILE.DOCUMENTS.ADD.TITLE' | translate}}</h1>
      </div>
    </div>
  </div>
</section>

<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <app-profile-navigation></app-profile-navigation>
    </div>
    <!-- End Profile Settings -->
    <!-- Add -->
    <div class="col-lg-9 g-mb-50">

      <!-- Info -->
      <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
        <form #f="ngForm" (ngSubmit)="submit()" novalidate>
          <div class="row">
            <div class="col-12">
              <span
                class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.DOCUMENTS.ADD.CHOOSE' | translate}}</span>
              <mchComboBox #documentTypeComboBox
                           #documentType="ngModel"
                           name="documentType"
                           mchRequired
                           [objectSource]="documentTypes"
                           [displayFunc]="documentTypeDisplayFunc"
                           [ngModel]="document?.documentType"
                           (ngModelChange)="document.documentType=$event">
              </mchComboBox>
              <mchErrors [component]="documentType"></mchErrors>
            </div>
          </div>


          <hr class="g-brd-gray-light-v4 g-my-20">

          <div class="row">
            <div class="col-12">
            <span
              class="d-block g-color-text g-font-size-13 mb-1">{{'PROFILE.DOCUMENTS.UPLOAD_FILE' | translate}}</span>
              <jqxFileUpload
                [width]="'100%'" [uploadUrl]="url + 'files/uploadFile'" [fileInputName]="'file'"
                (onUploadEnd)="onUploadEnd($event)" [multipleFilesUpload]="false">
              </jqxFileUpload>
              <div *ngIf="!document.files"
                   class="invalid-feedback d-block">
                <ul class="mb-0">
                  <li>
                    File attached required
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>

      </div>
      <!-- End Info -->
      <mchButton class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25 g-mr-20"
                 [submitForm]="f">{{'PROFILE.BUTTON.SUBMIT' | translate}}
      </mchButton>
      <mchButton class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" (click)="cancel()">
        {{'PROFILE.BUTTON.CANCEL' | translate}}
      </mchButton>
    </div>
    <!-- End Add -->
  </div>
</div>
