<section class="container g-py-100">
  <div class="row justify-content-center">
    <div class="col-sm-9 col-md-7 col-lg-5">
      <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
        <header class="text-center mb-4">
          <h1 class="h4 g-color-black g-font-weight-400">{{'RESET_PASSWORD.STEP_TWO.CAPTION' | translate}}</h1>
          <p>{{'RESET_PASSWORD.STEP_TWO.APPEAL' | translate}}</p>
        </header>

        <!-- Form -->
        <div class="g-py-15">
          <div class="g-mb-20">
            <mchInput name="password"
                      class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15"
                      mchRequired
                      mchPassword
                      [type]="'password'"
                      [placeHolder]="'PROFILE.SECURITY.PLACEHOLDER.PASSWORD' | translate"
                      [(ngModel)]="password">
            </mchInput>
          </div>

          <div class="g-mb-20">
            <mchInput name="passwordConfirm"
                      class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15"
                      mchRequired
                      mchMatchTo="password"
                      mchMatchToMessage="Passwords should match"
                      [type]="'password'"
                      [placeHolder]="'PROFILE.SECURITY.PLACEHOLDER.CONFIRM_PASSWORD' | translate"
                      [(ngModel)]="passwordConfirm">
            </mchInput>
          </div>

          <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25"
                  type="button"
                  (click)="submit()">{{'PROFILE.BUTTON.SUBMIT' | translate}}
          </button>
        </div>
        <!-- End Form -->
      </div>

      <!-- <div class="row justify-content-between mb-5">
         <div class="col align-self-center text-center">
           <p class="g-font-size-13">Have not recieved an email? <a href="page-login-1.html">Click here</a></p>
         </div>
       </div>-->
    </div>
  </div>
</section>
