<!-- Login & Security -->
<!-- Info -->
<div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

  <div class="row">
    <span
      class="d-block g-color-text g-font-size-13 mb-1">{{'TRADER_PROFILE.SECURITY.LABEL.PASSWORD' | translate}}</span>

    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-mb-20"
           type="password"
           [(ngModel)]="password"
           placeholder="{{'TRADER_PROFILE.SECURITY.PLACEHOLDER.PASSWORD' | translate}}">

    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded"
           type="password"
           [(ngModel)]="passwordConfirm"
           placeholder="{{'TRADER_PROFILE.SECURITY.PLACEHOLDER.CONFIRM_PASSWORD' | translate}}">
  </div>

</div>
<!-- End Info -->

<div class="row">

  <button (click)="submit()"
          class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25">
    {{'TRADER_PROFILE.SECURITY.BUTTON.SUBMIT' | translate}}
  </button>

</div>

<!-- End Login & Security -->
