<!-- Agent -->
<div class="container g-pt-50 g-pb-100">
  <div class="row justify-content-center">
    <div class="col-lg-9 order-lg-2 g-mb-70">
      <!-- Agent Info -->
      <div class="mb-4">
        <h2>{{gallery.organization.legalNameMl[translate.currentLang]}}</h2>
        <ul class="list-inline g-color-text g-font-weight-600">
          <li class="list-inline-item">{{gallery.organization.locationMl[translate.currentLang]}}</li>
        </ul>
      </div>
      <p class="g-line-height-2">{{gallery.descriptionMl[translate.currentLang]}}</p>
      <!-- End Agent Info -->

      <hr class="g-brd-gray-light-v3 g-my-50">
    </div>

    <div class="col-md-5 col-lg-3 order-lg-1 g-mb-70">
      <img class="img-fluid w-100 g-mb-30" src="{{url}}{{gallery.image.url}}" alt="Image Description">

    </div>
  </div>
</div>
<!-- End Agent -->
