<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">{{'INDEX.MAIN_MENU_ITEM' | translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/profile/view">{{'PROFILE.TITLE' |
              translate}}</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>{{'PROFILE.DOCUMENTS.TITLE' | translate}}</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">{{'PROFILE.DOCUMENTS.TITLE' | translate}}</h1>
      </div>
    </div>
  </div>
</section>

<div class="container g-pt-70 g-pb-30">
  <div class="row">
    <!-- Profile Settings -->
    <div class="col-lg-3 g-mb-50">
      <app-profile-navigation></app-profile-navigation>
    </div>
    <!-- End Profile Settings -->

    <div class="col-lg-9 g-mb-50">
      <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

        <mchButton [width]="100" [height]="35" (click)="onAddButtonClick()">{{'PROFILE.BUTTON.ADD' |
          translate}}
        </mchButton>

        <mchButton [width]="100" [height]="35" [disabled]="selectedRowIndex < 0" (click)="onDeleteButtonClick()">
          {{'PROFILE.BUTTON.DELETE' |
          translate}}
        </mchButton>

        <jqxGrid #myGrid
                 [width]="'100%'"
                 [height]="'320px'"
                 class="g-mt-5 g-mb-15"
                 [sortable]="true"
                 [columnsresize]="true"
                 [filterable]="true"
                 [autoshowfiltericon]="true"
                 [columns]="columns"
                 (onRowselect)="onGridRowSelect($event)">
          <tr>
            <th>{{'PROFILE.GRID.FILE_NAME' | translate}}</th>
            <th>{{'PROFILE.GRID.DATE' | translate}}</th>
            <th>{{'PROFILE.GRID.DOCUMENT_TYPE' | translate}}</th>
          </tr>
          <tr *ngFor="let doc of documents">
            <td>
              {{doc.files.fileName}}
            </td>
            <td>
              {{doc.effectiveDate}}
            </td>
            <td>
              {{doc.documentType.nameMl[translate.currentLang]}}
            </td>
          </tr>
        </jqxGrid>
        <!-- Pagination -->
        <nav class="g-mb-100" aria-label="Page Navigation">
          <ul class="list-inline mb-0">
            <li class="list-inline-item hidden-down">
              <a
                class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded-circle g-pa-5"
                href="#!">1</a>
            </li>
            <li class="list-inline-item hidden-down">
              <a
                class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5"
                href="#!">2</a>
            </li>
            <li class="list-inline-item g-hidden-xs-down">
              <a
                class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5"
                href="#!">3</a>
            </li>
            <li class="list-inline-item hidden-down">
              <span class="g-width-30 g-height-30 g-color-gray-dark-v5 g-font-size-12 rounded-circle g-pa-5">...</span>
            </li>
            <li class="list-inline-item g-hidden-xs-down">
              <a
                class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5"
                href="#!">15</a>
            </li>
            <li class="list-inline-item">
              <a
                class="u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5 g-ml-15"
                href="#!" aria-label="Next">
                      <span aria-hidden="true">
                        <i class="fa fa-angle-right"></i>
                      </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="list-inline-item float-right">
              <span class="u-pagination-v1__item-info g-color-gray-dark-v4 g-font-size-12 g-pa-5">Page 1 of 15</span>
            </li>
          </ul>
        </nav>
        <!-- End Pagination -->
      </div>
    </div>
    <!-- Login & Security -->
    <!-- End Login & Security -->
  </div>
</div>
