<section class="container g-pt-100 g-pb-20">
  <div class="row">
    <div class="col-lg-5 order-lg-2 g-mb-80">
      <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
        <header class="text-center mb-4">
          <h1 class="h4 g-color-black g-font-weight-400">{{'REGISTER.TITLE' | translate}}</h1>
        </header>

        <app-auth-register-step-one *ngIf="!isSecondStep"></app-auth-register-step-one>
        <app-auth-register-step-two [activationCode]="activationCode" *ngIf="isSecondStep"></app-auth-register-step-two>
      </div>

      <div class="text-center">
        <p class="g-color-gray-dark-v5 mb-0">{{'REGISTER.HAVE_AN_ACCOUNT' | translate}}
          <a class="g-font-weight-600" routerLink="/auth/login">{{'REGISTER.SIGNIN' | translate}}</a></p>
      </div>
    </div>

    <div class="col-lg-7 order-lg-1 g-mb-80">
      <div class="g-pr-20--lg">
        <div class="mb-5">
          <h2 class="h1 g-font-weight-400 mb-3">{{'REGISTER.WELCOME' | translate}}</h2>
          <p class="g-color-gray-dark-v4">The time has come to bring those ideas and plans to life. This is where can
            trade beautiful artworks.</p>
        </div>

        <!--<div class="row text-center mb-5">-->
          <!--<div class="col-sm-4 g-mb-10">-->
            <!--&lt;!&ndash; Counters &ndash;&gt;-->
            <!--<div class="g-bg-gray-light-v5 g-pa-20">-->
              <!--<div class="js-counter g-color-gray-dark-v5 g-font-weight-300 g-font-size-25 g-line-height-1">-->
                <!--{{involvements?.galleries}}-->
              <!--</div>-->
              <!--<div class="d-inline-block g-width-10 g-height-2 g-bg-gray-dark-v5 mb-1"></div>-->
              <!--<h4 class="g-color-gray-dark-v4 g-font-size-12 text-uppercase">{{'REGISTER.GALLERIES' | translate}}</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; End Counters &ndash;&gt;-->
          <!--</div>-->

          <!--<div class="col-sm-4 g-mb-10">-->
            <!--&lt;!&ndash; Counters &ndash;&gt;-->
            <!--<div class="g-bg-gray-light-v5 g-pa-20">-->
              <!--<div class="js-counter g-color-gray-dark-v5 g-font-weight-300 g-font-size-25 g-line-height-1">-->
                <!--{{involvements?.artworks}}-->
              <!--</div>-->
              <!--<div class="d-inline-block g-width-10 g-height-2 g-bg-gray-dark-v5 mb-1"></div>-->
              <!--<h4 class="g-color-gray-dark-v4 g-font-size-12 text-uppercase">{{'REGISTER.ARTWORKS' | translate}}</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; End Counters &ndash;&gt;-->
          <!--</div>-->

          <!--<div class="col-sm-4 g-mb-10">-->
            <!--&lt;!&ndash; Counters &ndash;&gt;-->
            <!--<div class="g-bg-gray-light-v5 g-pa-20">-->
              <!--<div class="js-counter g-color-gray-dark-v5 g-font-weight-300 g-font-size-25 g-line-height-1">-->
                <!--{{involvements?.artValue}}-->
              <!--</div>-->
              <!--<div class="d-inline-block g-width-10 g-height-2 g-bg-gray-dark-v5 mb-1"></div>-->
              <!--<h4 class="g-color-gray-dark-v4 g-font-size-12 text-uppercase">{{'REGISTER.ART_VALUE' | translate}}</h4>-->
            <!--</div>-->
            <!--&lt;!&ndash; End Counters &ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->

        <div class="text-center">
          <!--<h2 class="h4 g-font-weight-400 mb-4">Join more than-->
            <!--<span class="g-color-primary">{{involvements?.members}}</span> members worldwide</h2>-->
          <img class="img-fluid g-opacity-0_6" src="assets/img/maps/map.png" alt="Image Description">
        </div>
      </div>
    </div>
  </div>
</section>
