<div class="g-brd-bottom g-brd-gray-light-v4" *ngFor="let artworkStock of artworkStocks">
  <div class="row g-pt-30">
    <figure class="col-6 col-sm-5 col-lg-4 g-mb-30">
      <img class="img-fluid" src="{{url}}{{artworkStock.artwork.thumbnail.url}}" alt="Image Description">
      <span *ngIf="isOwn(artworkStock)"
            class="u-ribbon-v1 g-width-40 g-height-40 g-color-white g-bg-primary g-font-size-15 text-center text-uppercase g-rounded-50x g-top-10 g-right-minus-10 g-px-2 g-py-10"
            ngbTooltip="This is my artwork"
      >
          <i class="icon-education-031 u-line-icon-pro g-font-size-18"></i>
        </span>
    </figure>

    <div class="col-6 col-sm-7 col-lg-8 g-mb-15">
      <!-- Product Info -->
      <div class="g-mb-30">
        <h4 class="h5 g-color-black mb-0 mt-1">
          <a class="u-link-v5 g-color-black g-color-primary--hover"
             routerLink="/artworks/artworks-detail/{{artworkStock.id}}">
            {{artworkStock.artwork.titleMl[translate.currentLang]}}
          </a>
        </h4>
        <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 mb-2" href="#!">{{artworkStock.artwork.category.categoryNameMl[translate.currentLang]}}</a>
        <div class="mb-4">
          <span *ngIf="artworkStock.instantPrice" class="g-color-black g-font-size-20 mr-2">{{artworkStock.instantPrice | number:'1.0-2'}} SQR</span>
          <span *ngIf="!artworkStock.instantPrice && artworkStock.lastPrice"
                class="g-color-gray-dark-v5 g-font-size-20 mr-2">{{artworkStock.lastPrice | number:'1.0-2'}} SQR</span>
        </div>
        <p *ngIf="artworkStock?.artwork?.descriptionMl">
          {{artworkStock.artwork.descriptionMl[translate.currentLang]}}</p>
      </div>
      <!-- End Product Info -->

      <!-- Products Icons -->
      <ul class="list-inline g-mb-30">
        <li class="list-inline-item align-middle g-mr-20">
          <ng-container [ngSwitch]="isOwn(artworkStock)">
            <button *ngSwitchCase="true"
                    class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25" type="button"
                    (click)="openWindow(artworkStock, 'ask')">
              {{"MAIN.ARTWORK.PLACE_ASK" | translate}} <i
              class="align-middle ml-2 icon-real-estate-089 u-line-icon-pro"></i>
            </button>
            <button *ngSwitchCase="false"
                    class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25" type="button"
                    (click)="openWindow(artworkStock, 'bid')">
              {{"MAIN.ARTWORK.PLACE_BID" | translate}} <i
              class="align-middle ml-2 icon-real-estate-089 u-line-icon-pro"></i>
            </button>
          </ng-container>
        </li>
        <li class="list-inline-item align-middle">
          <ng-container [ngSwitch]="wishListMap[artworkStock.id] == null">
            <button *ngSwitchCase="true"
                    class="btn btn-block u-btn-outline-black g-brd-gray-dark-v5 g-brd-black--hover g-color-gray-dark-v4 g-color-white--hover g-font-size-12 text-uppercase g-py-15 g-px-25"
                    type="button" (click)="toggleWishList(artworkStock)">
              {{"MAIN.ARTWORK.ADD_TO_WISHLIST" | translate}} <i
              class="align-middle ml-2 icon-medical-022 u-line-icon-pro"></i>
            </button>
            <button *ngSwitchCase="false"
                    class="btn btn-block u-btn-outline-black g-brd-gray-dark-v5 g-brd-black--hover g-color-gray-dark-v4 g-color-white--hover g-font-size-12 text-uppercase g-py-15 g-px-25"
                    type="button" (click)="toggleWishList(artworkStock)">
              {{"MAIN.ARTWORK.REMOVE_FROM_WISHLIST" | translate}} <i
              class="ml-2 g-color-lightred fa fa-heart" style="line-height: 1.5"></i>
            </button>
          </ng-container>
        </li>
      </ul>
      <!-- End Products Icons -->

      <!--<a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-10 g-px-20" href="#!">-->
      <!--Add to Cart-->
      <!--<i class="ml-2 icon-real-estate-089 u-line-icon-pro"></i>-->
      <!--</a>-->
    </div>
  </div>
</div>

<mch-order-window #myWindow (onOrderPlaced)="orderPlaced($event)"></mch-order-window>
