<mchButton [width]="100" [height]="35" (click)="onAddButton()">
  Add
</mchButton>
<mchButton [width]="100" [height]="35" (click)="onEditButton()" [disabled]="selectedRowIndex < 0">
  Edit
</mchButton>

<jqxGrid #myGrid
         class="g-mt-5 g-mb-15"
         [rowsheight]="50"
         (onRowselect)="onGridRowSelect($event)"
         [width]="'100%'"
         [height]="'320px'"
         [sortable]="true"
         [columnsresize]="true"
         [filterable]="true"
         [autoshowfiltericon]="true">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Artist</th>
    <th>Category</th>
  </tr>
  <tr *ngFor="let a of artworks">
    <td></td>
    <td>
      {{a.titleMl[translate.currentLang]}}
    </td>
    <td>
      {{a.artist.fullNameMl[translate.currentLang]}}
    </td>
    <td>
      {{a.category.categoryNameMl[translate.currentLang]}}
    </td>
  </tr>
</jqxGrid>
