<!-- Breadcrumbs -->
<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>About</span>
          </li>
        </ul>
      </div>

      <div class="align-self-center ml-auto">
        <h1 class="h3 mb-0">About</h1>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->
<!-- About -->
<div class="container g-py-100">
  <div class="row justify-content-center g-mb-110">
    <div class="col-lg-8">
      <!-- Heading -->
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSbtNIdca_874aKirRqpXcFHs2zyn9Llo6v8WXEd-YPgit9QanmlnmgOMQTNLXR4x2_FlF2YAKMubF_/embed?start=false&loop=false&delayms=3000" frameborder="0" width="800" height="600" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe><!-- End Heading -->
    </div>
  </div>
</div>
<!-- End About -->
