<!-- Breadcrumbs -->
<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center">
        <h1 class="h3 mb-0">About</h1>
      </div>

      <div class="align-self-center ml-auto">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" routerLink="/main-page">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>About</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->
<!-- About -->
<div class="container g-py-100">
  <div class="row justify-content-center g-mb-110">
    <div class="col-lg-8">
      <!-- Heading -->
      <div class="text-center">
        <span class="d-block g-color-primary g-font-size-17 text-uppercase mb-5">We create</span>
        <h2 class="h1 g-color-black g-font-weight-600 mb-5">The leading branding<br>theme for any professionals</h2>
        <p class="lead mb-5">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity. This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing
          out the wrinkles is key.</p>
        <a class="btn btn-xl u-btn-outline-black g-font-weight-600 g-font-size-default g-px-35" href="#!">Explore more</a>
      </div>
      <!-- End Heading -->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3 g-mb-30">
      <!-- Article -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-bg-white g-pos-rel g-rounded-5">
        <img class="img-fluid w-100 g-rounded-top-5" src="http://placehold.it/350x230/img1.jpg" alt="Image Description">
        <div class="g-pa-30">
          <h3 class="h6 g-color-black g-font-weight-600 text-capitalize mb-3">
            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#!">Let's break the ice.</a>
          </h3>
          <p class="g-color-gray-dark-v4">It's not what we do, but who we are.</p>
        </div>
      </article>
      <!-- End Article -->
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <!-- Article -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-bg-white g-pos-rel g-rounded-5">
        <img class="img-fluid w-100 g-rounded-top-5" src="http://placehold.it/350x230/img2.jpg" alt="Image Description">
        <div class="g-pa-30">
          <h3 class="h6 g-color-black g-font-weight-600 text-capitalize mb-3">
            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#!">How can we assist?</a>
          </h3>
          <p class="g-color-gray-dark-v4">We are jacks of all. We are experts in all.</p>
        </div>
      </article>
      <!-- End Article -->
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <!-- Article -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-bg-white g-pos-rel g-rounded-5">
        <img class="img-fluid w-100 g-rounded-top-5" src="http://placehold.it/350x230/img3.jpg" alt="Image Description">
        <div class="g-pa-30">
          <h3 class="h6 g-color-black g-font-weight-600 text-capitalize mb-3">
            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#!">Let's talk details</a>
          </h3>
          <p class="g-color-gray-dark-v4">It's good to virtually meet you.</p>
        </div>
      </article>
      <!-- End Article -->
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <!-- Article -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-bg-white g-pos-rel g-rounded-5">
        <img class="img-fluid w-100 g-rounded-top-5" src="http://placehold.it/350x230/img4.jpg" alt="Image Description">
        <div class="g-pa-30">
          <h3 class="h6 g-color-black g-font-weight-600 text-capitalize mb-3">
            <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#!">It's a lifestyle.</a>
          </h3>
          <p class="g-color-gray-dark-v4">More than a look, design is functional.</p>
        </div>
      </article>
      <!-- End Article -->
    </div>
  </div>
</div>
<div class="dzsparallaxer auto-init height-is-based-on-content g-bg-gray-gradient-opacity-v1 mode-scroll dzsprx-readyall" data-options="{direction: &quot;reverse&quot;, animation_duration: &quot;200&quot;}">
  <div class="dzsparallaxer--target" style="width: 100%; height: 130%; transform: translate3d(0px, -181.477px, 0px);">
  </div>
  <div class="container g-pt-100">
    <!-- Masonry -->
    <div class="masonry-grid row mb-5" style="position: relative; height: 477.2px;">
      <div class="masonry-grid-sizer col-sm-1"></div>
      <div class="masonry-grid-item col-lg-6 g-mb-100" style="position: absolute; left: 0%; top: 0px;">
        <div class="g-pr-40--lg">
          <!-- Heading -->
          <span class="d-block g-color-primary g-font-size-17 text-uppercase mb-4">Capabilities</span>
          <h2 class="h2 g-color-black g-font-weight-600 mb-4">A full day of design insights<br>from the world's top designers</h2>
          <p class="lead mb-5">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity. This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing
            out the wrinkles is key.</p>
          <a class="btn btn-xl u-btn-outline-black g-font-weight-600 g-font-size-default g-px-35" href="#!">I am convinced</a>
          <!-- End Heading -->
        </div>
      </div>
      <div class="masonry-grid-item col-sm-6 col-lg-3 g-mb-30" style="position: absolute; left: 49.9123%; top: 0px;">
        <div data-parallaxanimation="[{property: &quot;transform&quot;, value:&quot; translate3d(0,px,0)&quot;, initial:&quot;-25&quot;, mid:&quot;0&quot;, final:&quot;25&quot;}]" style="">
          <img class="img-fluid w-100" src="http://placehold.it/350x230/img5.jpg" alt="Image Description">
        </div>
      </div>
      <div class="masonry-grid-item col-sm-6 col-lg-3 mt-5 g-mb-30" style="position: absolute; left: 74.9123%; top: 0px;">
        <div data-parallaxanimation="[{property: &quot;transform&quot;, value:&quot; translate3d(0,px,0)&quot;, initial:&quot;25&quot;, mid:&quot;0&quot;, final:&quot;-25&quot;}]" style="">
          <img class="img-fluid w-100" src="http://placehold.it/400x570/img1.jpg" alt="Image Description">
        </div>
      </div>
      <div class="masonry-grid-item col-sm-6 col-lg-3 g-mb-30" style="position: absolute; left: 49.9123%; top: 197px;">
        <div data-parallaxanimation="[{property: &quot;transform&quot;, value:&quot; translate3d(0,px,0)&quot;, initial:&quot;-45&quot;, mid:&quot;0&quot;, final:&quot;45&quot;}]" style="">
          <img class="img-fluid w-100" src="http://placehold.it/350x230/img6.jpg" alt="Image Description">
        </div>
      </div>
    </div>
    <!-- End Masonry -->

    <!-- Counters -->
    <div class="row text-center g-mb-50">
      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="js-counter g-color-primary g-font-weight-600 g-font-size-60">12</div>
        <h4 class="h4 g-color-gray-dark-v2">Build</h4>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="js-counter g-color-primary g-font-weight-600 g-font-size-60">33</div>
        <h4 class="h4 g-color-gray-dark-v2">Brands</h4>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="js-counter g-color-primary g-font-weight-600 g-font-size-60">51</div>
        <h4 class="h4 g-color-gray-dark-v2">Consulted</h4>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="js-counter g-color-primary g-font-weight-600 g-font-size-60">77</div>
        <h4 class="h4 g-color-gray-dark-v2">Marketers</h4>
      </div>
    </div>
    <!-- End Counters -->
  </div>
</div>
<!-- End About -->
